<div id="chat-box" class="chat-box one-chat-per-user hidden" ng-controller="ContentController">
<div class="box direct-chat">
  
  <div class="conv-u-info chat-u-online">
      <ul>
          <li class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar">
          </li>
          <li class="chat-u-info">Surya Singh
          </li>
          <li class="pull-right close-message-box">
            <span ng-click="closeRightBar()"><img src="modules/core/client/img/basics/cross.jpg" ng-click="closeMessageBox();$event.stopPropagation();"></span>
          </li>
      </ul>
  </div>



   <div class="converstaion-list">
      <div class="conversation-back">
          <div class="conv-thumb">
              <img ng-src="{{authentication.user.profileImageURL}}" alt="user">
          </div>
          <div class="conv-text">
              Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you? <br/>
              <span> 26/02/2016</span>
          </div>
      </div>
      <div class="conversation-front">
          <div class="conv-text">
              Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do. Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you? 
              Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do. <br/>
              <span> 26/02/2016</span>
          </div>
      </div>
      <div class="conversation-back">
          <div class="conv-thumb">
              <img ng-src="{{authentication.user.profileImageURL}}" alt="user">
          </div>
          <div class="conv-text">
              Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you? <br/>
              <span> 26/02/2016</span>
          </div>
      </div>
      <div class="conversation-front">
          <div class="conv-text">
              Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do. Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you? 
              Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do. <br/>
              <span> 26/02/2016</span>
          </div>
      </div>
      <div class="conversation-back">
          <div class="conv-thumb">
              <img ng-src="{{authentication.user.profileImageURL}}" alt="user">
          </div>
          <div class="conv-text">
              Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you? <br/>
              <span> 26/02/2016</span>
          </div> 
      </div>
      <div class="conversation-front">
          <div class="conv-text">
              Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do. Hello John, thank you for calling Provide Support. How may I help you?  Hello John, thank you for calling Provide Support. How may I help you? 
              Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do. <br/>
              <span> 26/02/2016</span>
          </div>
      </div>
  </div>
  <div class="chat-input-form">
      <form>
          <input name="chatbox" value="" class="form-control chat-input">
      </form>
  </div>
</div>
</div>