
<ul class="request-list" data-ng-controller="ContentController" data-ng-init="find()">
  <li class="request-list-header"> 
    <div class="row">
      <div class="col-md-4">
        Details <i class="fa fa-angle-down"></i>
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <!-- <div class="col-md-3">
            Interests
          </div> -->
          <div class="col-md-4">
            Budget <i class="fa fa-angle-down"></i>
          </div>
          <div class="col-md-4">
            Time Left <i class="fa fa-angle-down"></i>
          </div>
          <div class="col-md-4">
            Action <i class="fa fa-angle-down"></i>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li data-ng-repeat="userServiceRequest in userServiceRequests" ng-class="{'expanded' : userServiceRequest.expanded}">
    <div class="row request-list-content" ng-class="{'expired': _timeLeft[$index].timeLeft === 0, 'bl-color-danger':_timeLeft[$index].timeLeft <= 120 , 'bl-color-warning':_timeLeft[$index].timeLeft > 120 && _timeLeft[$index].timeLeft <= 480,'bl-color-normal':_timeLeft[$index].timeLeft > 480 }" ng-click="_timeLeft[$index].timeLeft !== 0 ? toggle(userServiceRequest): ''">
      <div class="col-md-4 request-list-content-details" >
        <div class="">
          Type : {{ userServiceRequest.serviceRequest.serviceType }}
        </div>
        <div class="">
          Description : 2 Guest, 1 Day, AC
        </div>
        <div class="">
          Urgency : {{ (_timeLeft[$index].timeLeft === 0)? 'Expired' : ((_timeLeft[$index].timeLeft <= 120) ? 'Urgent' : ((_timeLeft[$index].timeLeft > 120 && _timeLeft[$index].timeLeft <= 480) ? 'Simple' : 'Neutral')) }}
          <span class="badge" ng-class="{'badge-danger':_timeLeft[$index].timeLeft <= 120 , 'badge-warning':_timeLeft[$index].timeLeft > 120 && _timeLeft[$index].timeLeft <= 480,'sidebar-badge':_timeLeft[$index].timeLeft > 480 }" tooltip-placement="top" tooltip="{{ (_timeLeft[$index].timeLeft <= 120) ? 'Less then 2 hour to accept the service' : ((_timeLeft[$index].timeLeft > 120 && _timeLeft[$index].timeLeft <= 480) ? 'Less then 8 hour to accept the service' : 'No hurry') }}" >
            {{ (_timeLeft[$index].timeLeft === 0)? 'E' :((_timeLeft[$index].timeLeft <= 120) ? 'U' : ((_timeLeft[$index].timeLeft > 120 && _timeLeft[$index].timeLeft <= 480) ? 'S' : 'N')) }}
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row text-center request-list-content-others">
          <!-- <div class="col-md-3">
              <span> 33 </span>
          </div> -->
          <div class="col-md-4">
            <span>Rs. {{ userServiceRequest.serviceRequest.quotes }}</span>
          </div>
          <div class="col-md-4 time">
            <span ng-show="_timeLeft[$index].timeLeft === 0" class="expired-text">
                Expired
            </span>
            <span ng-show="_timeLeft[$index].fDate.days">
                {{_timeLeft[$index].fDate.days}} 
                <span class="badge" tooltip-placement="top" tooltip="Days">D</span>
            </span>
            <span ng-show="_timeLeft[$index].fDate.hours">
              {{_timeLeft[$index].fDate.hours}} 
              <span class="badge" tooltip-placement="top" tooltip="Hours">H</span>
            </span>
            <span ng-show="_timeLeft[$index].fDate.minutes">
              {{_timeLeft[$index].fDate.minutes}} 
              <span class="badge" tooltip-placement="top" tooltip="Minutes">M</span>
            </span>
          </div>
          <div class="col-md-4 show-interest" ng-hide="_timeLeft[$index].timeLeft === 0">
            <i title="I am interested" class="fa fa-check-circle accept-btn" ng-click="open();$event.stopPropagation();"></i>
            <i title="Message" class="fa fa-envelope-square accept-btn" ng-click="openMessageBox($event);$event.stopPropagation();"></i>
            <!-- <i title="Show Details" class="fa fa-info-circle message-btn" ng-click="toggle(userServiceRequest)"></i> -->
          </div>
          <div class="col-md-4 show-interest expired-text" ng-show="_timeLeft[$index].timeLeft === 0">
            <i class="fa fa-trash"></i>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row content-list-expanded" ng-show="userServiceRequest.expanded">
      <!-- <div class="expanded-top-icon">
          <i class="fa fa-bus"></i> 
          <span> Packers and Movers</span>
      </div> -->
      <div class="col-md-12">
        <div class="row expanded-header">
          <div class="col-md-8">
           
          </div>
          <div class="col-md-4 timeline-head">
            <h3> Timeline </h3>
          </div>
        </div>
      </div>
      <div class="col-md-12 expanded-content">
        <div class="row">
          <!-- Description Left-pane : start  TODO: Class name should be shanged to leftpane -->
          <div class="col-md-8 expanded-content-rightpane">
            <!-- User details - start -->
            <div class="row expanded-user-info">
              <div class="col-md-5 expanded-user-profile">
                <div class="expanded-profile-image">
                  <img class="img-circle" ng-src="{{authentication.user.profileImageURL}}">
                </div>
                <div class="expanded-profile-desc">
                  <h4>Surya Singh </h4>
                  <h5>+919928066073 
                    <i class="fa fa-check-circle accept-btn success" tooltip-placement="right" tooltip="Verified" ></i>
                  </h5>
                  <h5 class="rate">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-muted"></i>
                    <i class="fa fa-star text-muted"></i>
                  </h5>

                </div>
              </div>
              <div class="col-md-3 expanded-user-security">
                <div class="">
                  <h4>
                   PAN Card  <i class="fa fa-check-circle accept-btn success" tooltip-placement="right" tooltip="Verified" ></i>
                  </h4>
                  <h4>
                    Adhar Card <i class="fa fa-check-circle accept-btn" tooltip-placement="right" tooltip="Verified" ></i>
                  </h4>
                  <h4 class="identity-dropdown">
                    Other Identity<i class="fa fa-angle-down" popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}" popover-placement="top"></i>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 expanded-service-taken">
                <div class="pull-right">
                  <h4>
                   Services Quoted:  45
                  </h4>
                  <h4>
                    Services Accepted: 32
                  </h4>
                  <h4>
                    Acceptance Rate: 92%
                  </h4>
                </div>
              </div>
            </div>  <!-- User details - Ends -->
            <!-- Content description box - start -->
            <div class="row expanded-content-description-container"> 
              <div class="col-md-12 ">
                <div class="row expanded-content-description">
                  <div class="col-md-8 description-box">
                    <h5>
                      <span>Required On :</span> 26/12/2016
                    </h5>
                    <h5>
                      <span>Total Luggage :</span>  
                    </h5>
                    <h5>
                      <span>Total Luggage : </span>  
                    </h5>
                    <h5>
                      <span>User Comments : </span> 
                    </h5>
                  </div>
                  <div class="col-md-4 imagebox shadow">
                    <div class="row">
                      <div class="col-md-6 left">
                        <img class="img-responsive" src="modules/core/client/img/basics/img4.jpg">
                      </div>
                      <div class="col-md-6 right">
                        <img class="img-responsive" src="modules/core/client/img/basics/img2.jpg">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 left">
                        <img class="img-responsive" src="modules/core/client/img/basics/img2.jpg">
                      </div>
                      <div class="col-md-6 right">
                        <img class="img-responsive" src="modules/core/client/img/basics/img4.jpg"img-reponsive="" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div> <!-- Content description box - end -->
            
            <!-- Distance Description - start -->
            <div class="row">
              <div class="col-md-12 expanded-content-details">
                <div class="transport">
                  <i class="fa fa-truck fa-flip-horizontal" popover-template="dynamicPopover.templateUrl"  popover-placement="top"></i>
                  <h4>23.7km</h4>
                </div>
                <div class="from-loc pull-left">
                  <i class="fa fa-map-marker" popover-template="dynamicPopover.templateUrl"  popover-placement="top"></i>
                  <h5>Lucknow, Indira Nagar, Sector 9, Munshi pulia </h5>
                </div>
                <div class="to-loc pull-right">
                  <i class="fa fa-map-marker"  popover-template="dynamicPopover.templateUrl"  popover-placement="top"></i>
                   <h5>Lucknow, Indira Nagar, Sector 9, Munshi pulia </h5>
                </div>
              </div>
            </div> <!-- Distance Description - end -->
          </div>
          <div class="col-md-4 expanded-timeline">
            <ul class="list-timeline">
              <li>
                <div class="list-timeline-time">12 hrs ago</div>
                <i class="fa fa-check list-timeline-icon success"></i>
                <div class="list-timeline-content">
                  <h4>Service Created</h4>
                  <h5>User has asked for srevice</h5>
                </div>
              </li>
              <li>
                <div class="list-timeline-time">Awaited</div>
                <i class="fa fa-check list-timeline-icon"></i>
                <div class="list-timeline-content">
                  <h4>Your Response</h4>
                  <h5>User is waiting for your response</h5>
                </div>
              </li>
              <li>
                <div class="list-timeline-time">Awaited</div>
                <i class="fa fa-check list-timeline-icon"></i>
                <div class="list-timeline-content">
                  <h4>User Response</h4>
                  <h5>Please wait for user response.</h5>
                </div>
              </li>
              <li>
                <div class="list-timeline-time">12 hrs ago</div>
                <i class="fa fa-check list-timeline-icon"></i>
                <div class="list-timeline-content">
                  <h4>Service Date</h4>
                  <h5>Service End date</h5>
                </div>
              </li>
              <li>
                <div class="list-timeline-time">Awaited</div>
                <i class="fa fa-check list-timeline-icon"></i>
                <div class="list-timeline-content">
                  <h4>Payment</h4>
                  <h5>User Feedback and Payment</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 expanded-footer">
        <div class="row">
          <div class="col-md-6">
            <button class="btn bttn-primary">Interested</button>
            <button class="btn bttn-warning">Skip</button>
            <button class="btn bttn-danger">Delete</button>
          </div>
          <div class="col-md-6 business-deal">
            <h5><i class="fa fa-exclamation-circle"></i> You did a business with this client in Past <i class="fa fa-angle-down business-option" popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}" popover-placement="left"></i></h5>
          </div>
        </div>
        
      </div>
    </div>
  </li>
</ul>