<!-- Sidebar -->
<div id="sidebar-wrapper" data-ng-controller="SidebarController" data-ng-init="find()">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a ui-sref="index.home.request">
         <i class="icon ion-home"></i>
          Zapcee
        </a>
    </li>
    <!-- <li class="header text-center"> Connect to Social Media </li> -->
    <li>
      <div class="sidebar-stats text-center">
        <img src="modules/core/client/img/socials/facebook.png">
        <img src="modules/core/client/img/socials/google.png">
        <img src="modules/core/client/img/socials/twitter.png">
        <img src="modules/core/client/img/socials/youtube.png">
      </div>
    </li>
    <li>
      <div class="sidebar-inner-addon sidebar-left-addon">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" ng-model="searchText.serviceId.serviceName" placeholder="Search"/>
      </div>
    </li>
    <li class="header"> Services</li>
    <li>
      <ul class="sidebar-services">
        <li ng-repeat="service in services | filter:searchText" ng-show="service.serviceId">
            <a data-ui-sref="serviceproviders.view({ serviceproviderId: service._id })" ui-sref-active="active" >
              <i class="{{ service.serviceId.serviceIcon }}"></i> 
              {{ service.serviceId.serviceName }} 
              <span ng-show="service.notification" class="badge sidebar-badge">
                {{ service.serviceId.notification }}
              </span>
            </a>
        </li>
      </ul>
    </li>
    
  </ul>
  <div class="alert-container">
      <div class="alert-box">
        <div class="alert-box-header">
          <i class="fa fa-bullhorn"></i>
          <h6> You got a not</h6>
          <i class="fa fa-times-circle alert-box-close"></i>
        </div>
        <div class="alert-box-content">
          <p> awesome app sggsgs ssgsggs sgsggs </p>
        </div>

      </div>
    </div>
  
</div>
<!-- sidebar-wrapper -->