<div class="row nav-header top-nav" id="headerBar" ng-controller="HeaderController">
<alert type="{{alert.type}}" ng-hide="isEmailVerified">
{{alert.msg}}<a href class="alert-link" ng-click="resendVerificationEmail();">Resend Confirmation email</a></alert>
    <div class="col-lg-12">
      <div class="nav-item nav-item-toggle pull-left">
        <a href="#menu-toggle" id="menu-toggle">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="nav-item item-hover user-profile-menu pull-right" dropdown>
        <a dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="img-circle"  height="32" width="32" />
          <!-- <span ng-bind="authentication.user.displayName"></span> -->
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="index.home.settings.profile">Edit Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href target="_self">Help Center</a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="index.home.account.notification">Account Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </div>
      <div class="nav-item item-hover pull-right" dropdown>
        <a ng-click="onClickNotification()">
          <i class="fa fa-bell-o"></i>
          <span class="badge nav-item-badge">6</span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="header">You have 6 notification</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <div>
              <ul style="width: 100%; height: 200px;" class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <h4>
                      Surya Singh
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                  </a>
                </li><!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Nishant Kumar
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Can we have a quick call?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Rachit
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Awesome design, we are going to rock .</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Aniket
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Hi how are you?</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer"><a href="#">See All Messages</a></li>
        </ul>
      </div>
      <div class="nav-item item-hover pull-right" dropdown>
        <a ng-click="onClickNotification()">
          <i class="fa fa-envelope-o"></i>
          <span class="badge nav-item-badge">2</span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="header">You have 4 messages</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <div>
              <ul style="width: 100%; height: 200px;" class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Surya Singh
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Hi how are you?</p>
                  </a>
                </li><!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Nishant Kumar
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Can we have a quick call?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Rachit
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Awesome design, we are going to rock .</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="images/surya.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Aniket
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Hi how are you?</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer"><a href="#">See All Messages</a></li>
        </ul>
      </div>
    </div>
  </div>