<div class="row main-content">
  <div class="col-lg-12 request-content">
    <section>
      <div ui-view="content"></div>
       <section ng-include="'/modules/core/client/views/partials/chatbox.client.view.html'"></section>
    </section>
  </div>
</div>