<div ng-controller="ContentController" class="sp-modal">
    <div class="modal-header">
        <span>I am interested </span>
        <img src="modules/core/client/img/basics/cross.jpg" ng-click="cancel()">
    </div>
    <div class="modal-body">
	  <form name="userForm" novalidate autocomplete="off">
	    <div class="form-group inner-addon left-addon">
	      <i class="fa fa-inr" style="font-weight:600;"></i>
	      <input autocapitalize="off" class="required form-control input-lg" id="proposedQuotes" name="proposedQuotes" placeholder="Proposed Quote" ng-model="credentials.proposedQuotes" tabindex="1" type="text" value="" required>
	      <div class="error-mesg" ng-show="userForm.proposedQuotes.$error.required && userForm.proposedQuotes.$dirty || userForm.$submitted && userForm.proposedQuotes.$error.required" role="alert">
	          Enter your Quotes
	      </div>
	    </div>
	    
	  </form>
    </div>
    <div class="modal-footer">
        <button class="btn submit-btn" type="button" ng-click="ok()">Submit</button>
        <span class="cancel-btn" ng-click="cancel()">Cancel</span>
	</div>

</div>