<!-- <div class="right-sidebar sidebar-open">
    <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li ><a data-toggle="tab" href="#tab-1">
                        Feedback
                    </a></li>
                    <li class="active"><a data-toggle="tab" href="#tab-2">
                        Contacts
                    </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">
                        <i class="fa fa-gear"></i>
                    </a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> Latest Feedback</h3>
                            <small><i class="fa fa-tim"></i> You have 10 feedback.</small>
                        </div>

                        <div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        There are many variations of passages of Lorem Ipsum available.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">
                                    </div>
                                    <div class="media-body">
                                        The point of using Lorem Ipsum is that it has a more-or-less normal.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        Mevolved over the years, sometimes by accident, sometimes on purpose.
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">
                                    </div>

                                    <div class="media-body">
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing 
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                       <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">
                                    </div>
                                    <div class="media-body">

                                        All the Lorem Ipsum generators on the Internet tend to repeat.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">
                                    </div>
                                    <div class="media-body">
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                       <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">
                                    </div>
                                    <div class="media-body">
                                        Uncover many web sites still in their infancy. Various versions have.
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane ">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> Your Contacts</h3>
                            <small><i class="fa fa-tim"></i> You have 32 contacts.</small>
                        </div>

                        <div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">

                                    </div>
                                    <div class="media-body contact-name">
                                        Surya Prakash Singh
                                        <br>
                                        <small class="text-muted">Online</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="modules/users/client/img/profile/default.png">
                                    </div>
                                    <div class="media-body contact-name">
                                        Nishant Kumar
                                        <br>
                                        <small class="text-muted">Offline</small>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-gears"></i> Settings</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <div class="setings-item">
                    <span>
                        Show notifications
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                    <label class="onoffswitch-label" for="example">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                    <span>
                        Disable Chat
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="example2">
                                    <label class="onoffswitch-label" for="example2">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                    <span>
                        Enable history
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                    <label class="onoffswitch-label" for="example3">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                    <span>
                        Show charts
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                    <label class="onoffswitch-label" for="example4">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                    <span>
                        Offline users
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked="" name="collapsemenu" class="onoffswitch-checkbox" id="example5">
                                    <label class="onoffswitch-label" for="example5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                    <span>
                        Global search
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked="" name="collapsemenu" class="onoffswitch-checkbox" id="example6">
                                    <label class="onoffswitch-label" for="example6">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                    <span>
                        Update everyday
                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                    <label class="onoffswitch-label" for="example7">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-content">
                            <h4>Settings</h4>
                            <div class="small">
                                I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        </div>
        -->



<!-- rightbar-show -->
<div class="right-aside" ng-class="rightBar?'rightbar-show': ''">
    <div class="aside-branding">
        <div class="aside-tab">
            <ul class="nav nav-tabs pull-left">
                <li class="active"><a href="#coversetaion" tooltip="Chat" tooltip-placement="bottom" title="" class="waves-effect" aria-expanded="true"><i class="fa fa-comments"></i></a>
                </li>
                <li class=""><a href="#server-stats" tooltip="Stats" tooltip-placement="bottom" title="" class="waves-effect" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge nav-item-badge">6</span></a>
                </li>
                <li class=""><a href="#notifications" tooltip="Notifications" tooltip-placement="bottom" title="" class="waves-effect aside-notifications" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge nav-item-badge">14</span></a>
                </li>

            </ul>
        </div>
        <span ng-click="closeRightBar()" class="rightbar-action waves-effect"><img src="modules/core/client/img/basics/cross.jpg" ng-click="cancel()"></span>
    </div>
    <div class="aside-tab-wigets">
        <div class="tab-content">
            <div class="tab-pane active" id="coversetaion">
                <div class="chat-search-form">
                    <form>
                        <input name="searchbox" value="" placeholder="Chat With" class="chat-u-search form-control">
                    </form>
                </div>
                <h3 class="clearfix"><span class="pull-left">Contact List</span><span class="pull-right online-counter">3 Online</span></h3>
                <div class="block-content chat-user-list" style="height: 610px;">
                    <span class="piechart"></span>
                    
                    <ul class="chat-list">
                        <li>
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Adellecharles<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Allisongrayce<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Bobbyjkane<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Littlenono<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li>
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Adellecharles<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Allisongrayce<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Bobbyjkane<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Littlenono<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li>
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Adellecharles<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Allisongrayce<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Bobbyjkane<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                        <li class="chat-u-online">
                            <a href ng-click="toggleMessageBox()"><span class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar"></span><span class="chat-u-info">Littlenono<cite>New York</cite></span></a>
                            <span class="chat-u-status"><i class="fa fa-circle"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Notification Tab -->
            <div class="tab-pane" id="notifications">
                <div class="block-content aside-notifications-head">
                    <h4>You have 15 new messages</h4>
                    <div class="aside-notifications-wrap" style="height: 688px;">
                        <div class="message-wrap">
                            <ul class="clearfix">
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Adellecharles </span>Nunc aliquam dolor... <span class="message-time">today at 10:20 pm</span></a>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Allisongrayce </span>In hac habitasse ... <span class="message-time">today at 8:29 pm</span></a>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Amarkdalen </span>Suspendisse ac mauris ... <span class="message-time">yesterday at 12:29 pm</span></a>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Annapickard </span>Vivamus lacinia facilisis... <span class="message-time">yesterday at 11:48 pm</span></a>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Bobbyjkane </span>Donec vel iaculis ... <span class="message-time">1 month ago</span></a>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Chexee </span> Curabitur eget blandit...<span class="message-time">3 months ago</span></a>
                                </li>
                                <li class="clearfix">
                                    <a href="#" class="message-thumb"><img ng-src="{{authentication.user.profileImageURL}}" alt="image">
                                    </a><a href="#" class="message-intro"><span class="message-meta">Coreyweb </span>Etiam molestie nulla... <span class="message-time">1 year ago</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="notification-wrap">
                            <h4>You have 10 new notifications</h4>
                            <ul>
                                <li><a href="#" class="clearfix"><span class="ni w-green"><i class="fa fa-bullhorn"></i></span><span class="notification-message">Pellentesque semper posuere. <span class="notification-time clearfix">3 Min Ago</span></span></a>
                                </li>
                                <li><a href="#" class="clearfix"><span class="ni w-orange"><i class="fa fa-life-ring"></i></span><span class="notification-message">Nulla commodo sem at purus. <span class="notification-time clearfix">1 Hours Ago</span></span></a>
                                </li>
                                <li><a href="#" class="clearfix"><span class="ni w-bondi-blue"><i class="fa fa-star-o"></i></span><span class="notification-message">Fusce condimentum turpis. <span class="notification-time clearfix">3 Hours Ago</span></span></a>
                                </li>
                                <li><a href="#" class="clearfix"><span class="ni w-blue"><i class="fa fa-trophy"></i></span><span class="notification-message">Pellentesque habitant morbi. <span class="notification-time clearfix">Yesterday</span></span></a>
                                </li>
                                <li><a href="#" class="clearfix"><span class="ni w-brown"><i class="fa fa-bolt"></i></span><span class="notification-message">Fusce bibendum lacus mauris.<span class="notification-time clearfix">1 Month Ago</span></span></a>
                                </li>
                                <li><a href="#" class="clearfix"><span class="ni w-dark-yellow"><i class="fa fa-bookmark-o"></i></span><span class="notification-message">Donec id mi placerat, scelerisque.<span class="notification-time clearfix">3 Months Ago</span></span></a>
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-block notification-btn clearfix waves-effect " href="#"><span>View All</span></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- to open: show-conv -->
    <div class="conv-container" ng-class="messageBox? 'show-conv' : ''">
        <div class="conv-u-info chat-u-online">
            <ul>
                <li class="chat-avatar"><img ng-src="{{authentication.user.profileImageURL}}" alt="Avatar">
                </li>
                <li class="chat-u-info">Surya Singh
                </li>
                <li class="chat-u-action"><span title="" class="waves-effect chat-u-call"><i class="fa fa-phone"></i></span>
                </li>
                <li class="chat-u-action" ng-click="toggleMessageBox()"><span title="" class="waves-effect chat-close"><i class="fa fa-angle-right"></i></span>
                </li>
            </ul>
        </div>
        <div class="converstaion-list" style="height: 614px;">
            <div class="conversation-back">
                <div class="conv-thumb">
                    <img ng-src="{{authentication.user.profileImageURL}}" alt="user">
                </div>
                <div class="conv-text">
                    Hello John, thank you for calling Provide Support. How may I help you?
                </div>
            </div>
            <div class="conversation-front">
                <div class="conv-text">
                    Hello Mary. I understand the problem and will be happy to help you. Let’s see what I can do.
                </div>
            </div>
            <div class="conversation-front">
                <div class="conv-text">
                    Let me see if I have this correct, you want me to…” or “You would like for me to…?
                </div>
            </div>
            <div class="conversation-back">
                <div class="conv-thumb">
                    <img ng-src="{{authentication.user.profileImageURL}}" alt="user">
                </div>
                <div class="conv-text">
                    I’m not sure, but let me find out for you.
                </div>
            </div>
        </div>
        <div class="chat-input-form">
            <form>
                <input name="chatbox" value="" class="form-control chat-input">
            </form>
        </div>
    </div>
</div>