<div class="row sub-nav">
  <div class="col-lg-12">
    <div class="sub-nav-item">
      <a ui-sref="index.home.request" ui-sref-active="active">
        <i class="fa fa-pencil-square-o"></i>
        <span>Request</span>
      </a>
    </div>
    <div class="sub-nav-item ">
      <a ui-sref="index.home.respond" ui-sref-active="active">
        <i class="fa fa-thumbs-o-up"></i>
        <span>Approved</span>
      </a>
    </div>
    <div class="sub-nav-item ">
      <a href="#">
        <i class="icon ion-home"></i>
        <span>Manage</span>
      </a>
    </div>
    <div class="sub-nav-item ">
      <a href="#">
        <i class="fa fa-history"></i>
        <span>History</span>
      </a>
    </div>
    <div class="sub-nav-item ">
      <a href="#">
        <i class="fa fa-cogs"></i>
        <span>Settings</span>
      </a>
    </div>
  </div>
</div>