<div class="popover-wrapper" ng-controller="ContentController">
	<div class="popover-header">
        <span>{{dynamicPopover.title}}</span>
        <img src="modules/core/client/img/basics/cross.jpg" ng-click="cancel()">
    </div>
    <div class="popover-body">
	  <iframe width="380" height="250" frameborder="0" style="border:0"
src="{{direction}}" allowfullscreen></iframe>
    </div>
    <div class="popover-footer clearfix">
    	<span class="cancel-btn pull-right">Cancel</span>
        <button class="btn submit-btn pull-right" type="button">Got It!</button>
	</div>
</div>