<ul class="request-list" data-ng-controller="RespondedController" data-ng-init="find()">
  <li class="request-list-header"> 
    <div class="row">
      <div class="col-md-4">
        Details <i class="fa fa-angle-down"></i>
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <!-- <div class="col-md-3">
            Interests
          </div> -->
          <div class="col-md-4">
            User Quotes <i class="fa fa-angle-down"></i>
          </div>
          <div class="col-md-4">
            Your Quotes <i class="fa fa-angle-down"></i>
          </div>
          <div class="col-md-4">
            Action <i class="fa fa-angle-down"></i>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li data-ng-repeat="userServiceRequest in userServiceRequests" ng-class="{'expanded' : userServiceRequest.expanded}">
    <div class="row request-list-content" ng-click="toggle(userServiceRequest)">
      <div class="col-md-4 request-list-content-details" >
        <div class="">
          Type : {{ userServiceRequest.serviceRequest.serviceType }}
        </div>
        <div class="">
          Description : 2 Guest, 1 Day, AC
        </div>
        <div class="">
          Status : Await
          <span class="badge" tooltip-placement="top" tooltip="Waiting for User response" style="background-color:#7A378B;">
            A
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row text-center request-list-content-others">
          <div class="col-md-4">
            <span>Rs. {{ userServiceRequest.serviceRequest.quotes }}</span>
          </div>
          <div class="col-md-4">
            <span>Rs. 31</span>
          </div>
          <div class="col-md-4 show-interest">
            <i title="Interested" class="fa fa-check-circle success"></i>
            <i title="Message" class="fa fa-envelope-square accept-btn"></i>
            <!-- <i title="Show Details" class="fa fa-info-circle message-btn" ng-click="toggle(userServiceRequest)"></i> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row content-list-expanded" ng-show="userServiceRequest.expanded">

    </div>
  </li>
</ul>