<section data-ng-controller="ServiceprovidersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Serviceproviders</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="serviceprovider in serviceproviders" data-ng-href="/#!/serviceproviders/{{serviceprovider._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="serviceprovider.created | date:'medium'"></span>
				by
				<span data-ng-bind="serviceprovider.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="serviceprovider.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!serviceproviders.$resolved || serviceproviders.length">
    	No Serviceproviders yet, why don't you <a href="/#!/serviceproviders/create">create one</a>?
    </div>
</section>