<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{name}},</p>
  <br />
  <p>
    This is Just Get Started Email {{appName}}

    Link : {{url}}
  </p>
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>
