<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{name}},</p>
  <p></p>
  <p>Please verify your email address be clicking on below link</p>
  <br />
  {{url}}
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>
