<section ng-controller="HomeController">
  <div id="wrapper">
    <section>
      <div ui-view="sidebar"></div>
    </section>
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <section>
          <div ui-view="topnav"></div>
        </section>
        <section>
          <div ui-view="subnav"></div>
        </section>
        <section>
          <div ui-view="main"></div>
        </section>

      </div>
    </div>
     <section ng-include="'/modules/core/client/views/partials/home.rightsidebar.client.view.html'"></section>
     <section ng-include="'/modules/core/client/views/partials/messagebox.client.view.html'"></section>
     
    <!-- /#page-content-wrapper -->
  </div>
</section>
