<div class="container-fluid landing-page">
    <div class="row landing-header-wrapper">
      <div class="col-md-12 col-sm-12 col-xs-12 landing-nav">
        <div class="wrapper">
          <div class="logo pull-left">
            <span class="outer"><span class="inner">Z</span></span> Zapcee
          </div>
          <ul class="subnav-inner">
            <li>
              <a ui-sref="home"> Home</a>
            </li>
            <li>
              <a ui-sref="provider"> Professional</a>
            </li>
            <li>
              <a class="button" href>Sign up for free</a>
            </li>
            <li>
              <a href> Login</a>
            </li>
          </ul>
         
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 landing-banner">
        <h1> The Simplest way to connect with trusted <br/>
              professional to get your job done </h1>
        <div class="banner-desc">
          <span>I need a</span>
          <div class="form-group inner-addon left-addon">
              <i class="fa fa-search"></i>
             <input type="text" placeholder="Packers and Movers" value="" class="landing_search_service" autocomplete="off" required="required">
          </div>
            
          <span>in</span> 
          <div class="form-group inner-addon left-addon">
              <i class="fa fa-map-marker"></i>
             <input type="text" placeholder="Search Location" value="" class="landing_search_service location" autocomplete="off" required="required">
          </div>
        </div>
      </div>
    </div>
    <div class="row landing-content-wrapper">
      <div class="col-md-12 heading">
        <h2>Browse Services</h2>
        <p>Enjoy your coffee While we handel your work and save hours of your time </p>
      </div>
      <div class="col-md-12 catalog">

        <div class="row">
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
             
              <img src="/modules/core/client/img/birthday.jpg" class="image img-responsive"/>
              <div class="after">
                <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div>
                <div class="desc">
                   <h4><strong>Wedding Planner</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
              <img src="/modules/core/client/img/weddingphotographer.jpg" class="image img-responsive"/>
              <div class="after">
                <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div>
                <div class="desc">
                   <h4><strong>Wedding Photographer</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
              <img src="/modules/core/client/img/interiordesign.jpg" class="image img-responsive"/>
              <div class="after">
                <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div>
                <div class="desc">
                   <h4><strong>Interior Designers</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
              <img src="/modules/core/client/img/birthday.jpg" class="image img-responsive"/>
              <div class="after">
               <!--  <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div> -->
                <div class="desc">
                   <h4><strong>Birthday Party</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
        </div>

         <div class="row">
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
             
              <img src="/modules/core/client/img/birthday.jpg" class="image img-responsive"/>
              <div class="after">
                <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div>
                <div class="desc">
                   <h4><strong>Wedding Planner</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
              <img src="/modules/core/client/img/weddingphotographer.jpg" class="image img-responsive"/>
              <div class="after">
                <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div>
                <div class="desc">
                   <h4><strong>Wedding Photographer</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
              <img src="/modules/core/client/img/interiordesign.jpg" class="image img-responsive"/>
              <div class="after">
                <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div>
                <div class="desc">
                   <h4><strong>Interior Designers</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 catalog-img">
            <div class="service-image-container">
              <img src="/modules/core/client/img/birthday.jpg" class="image img-responsive"/>
              <div class="after">
               <!--  <div class="header">
                  <div class="header-label">
                    <strong class="text-contrast">
                      20% off
                    </strong>
                  </div>
                </div> -->
                <div class="desc">
                   <h4><strong>Birthday Party</strong></h4>
                </div>
                <div class="hover"><i class="fa fa-arrow-circle-right"></i></div>
               
              </div>
            </div>
          </div>
        </div>

        

        <div class="row">
           <a class="button" href>Browse All Services</a>
        </div>

      </div>
      <div class="col-md-12 how-it-works">
          <h3>How It Works</h3>
          <p>You can hire a professional for your desired service in 3 simple steps</p>
          <ul class="row steps-list">
            <li class="steps-card col-md-4">
              <div class="row">
                <div class="col-xs-4 col-md-3 step-img">
                  <img src="/modules/core/client/img/submit_request.svg">
                </div>
                <div class="col-xs-8">
                  <h3>1. Submit request</h3>
                  <p>The smart way to find the<br>right professional for you</p>
                </div>
              </div>
            </li>
            <li class="steps-card col-md-4">
              <div class="row">
                <div class="col-xs-4 col-md-3 step-img">
                  <img src="/modules/core/client/img/get_quotes.svg">
                </div>
                <div class="col-xs-8">
                  <h3>2. Get quotes</h3>
                  <p>Within hours professionals<br>will reply with their quotes</p>
                </div>
              </div>
            </li>
            <li class="steps-card col-md-4">
              <div class="row">
                <div class="col-xs-4 col-md-3 step-img">
                  <img src="/modules/core/client/img/hire_the_best.svg">
                </div>
                <div class="col-xs-8">
                  <h3>3. Hire the best</h3>
                  <p>Look at their past work<br>chat and hire</p>
                </div>
              </div>
            </li>
          </ul>
      </div>
      <div class="col-md-12 landing-user-comment">
        <h3>Hear what our customers have to say about their experiences</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3 step-img">
                <img src="/modules/core/client/img/surya.jpeg" width="64" height="64" class="img-circle">
              </div>
              <div class="col-md-9 comment">
                <h4>Surya Singh</h4>
                <p>I am very happy with the yoga classes given by Ms. Bhanu. Each class has a different variation which keeps me interested. Overall, Zapcee is a great platform to get all the services at one place.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3 step-img">
                <img src="/modules/core/client/img/surya.jpeg" width="64" height="64" class="img-circle">
              </div>
              <div class="col-md-9 comment">
                <h4>Surya Singh</h4>
                <p>I am very happy with the yoga classes given by Ms. Bhanu. Each class has a different variation which keeps me interested. Overall, Zapcee is a great platform to get all the services at one place.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3 step-img">
                <img src="/modules/core/client/img/surya.jpeg" width="64" height="64" class="img-circle">
              </div>
              <div class="col-md-9 comment">
                <h4>Surya Singh</h4>
                <p>I am very happy with the yoga classes given by Ms. Bhanu. Each class has a different variation which keeps me interested. Overall, Zapcee is a great platform to get all the services at one place.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 book-with-app">
        <h3>BOOK NOW WITH OUR APPS</h3>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 img-block">
            <img src="/modules/core/client/img/googleplay-getapp-icon.png" height="62" width="185" class="img-responsive">
            <img src="/modules/core/client/img/app_store_lg.png" height="62" width="185" class="img-responsive">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-block">
            <h4>Enter your number to get the Zapcee app</h4>
             <div class="input-group">
              <input type="text" class="form-control" style="height:40px;" placeholder="Phone Number" aria-describedby="basic-addon2">
              <span class="input-group-addon" style="background-color:#6e5baa;color:#fff;border:1px solid #6e5baa;" id="basic-addon2">GET APP</span>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>

      <div class="col-md-12 care-for-business"> 
        <h2>We care for your business</h2>
         <p>Engage your service with million of customer and earn money by becoming zapcee service provider</p>
         <a class="button" href>See what you can earn</a>
         <a class="button" href>Join As Professional</a>
      </div>

    </div>
    <div class="row zapcee-landing-footer">
      <div class="col-md-12">
        <div class="row landing-footer-wrapper">
          <div class="col-md-8 zapcee-footer-links">
            <div class="row">
              <nav class="col-md-3">
                <h4>Products</h4>
                <ul>
                  <li><a href>Zapcee Platform</a></li>
                  <li><a href>Zapcee Connect</a></li>
                  <li><a href>Zapcee Postgres</a></li>
                  <li><a href>Zapcee Redis</a></li>
                  <li><a href>Zapcee Enterprise</a></li>
                  <li><a href>Elements Marketplace</a></li>
                  <li><a href>Pricing</a></li>
                </ul>
              </nav>
              <nav class="col-md-3">
                <h4>Resources</h4>
                <ul>
                  <li><a href>Documentation</a></li>
                  <li><a href>Blog</a></li>
                  <li><a href>Get Started</a></li>
                </ul>
              </nav>
              <nav class="col-md-3">
                <h4>About</h4>
                <ul>
                  <li><a href>About Us</a></li>
                  <li><a href>What is Zapcee</a></li>
                  <li><a href>Our Customers</a></li>
                  <li><a href>Careers</a></li>
                  <li><a href>Partners</a></li>
                </ul>
              </nav>
              <nav class="col-md-3">
                <h4>Support</h4>
                <ul>
                  <li><a href>Help</a></li>
                  <li><a href>Status</a></li>
                  <li><a href>Critical Apps</a></li>
                  <li><a href>Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-4 zapcee-footer-social">
            <h3><i class="fa fa-paper-plane-o" style="margin-right:8px;"></i>Share your love</h3>
<!--              <div class="search-with-button">
              <label class="field-label" for="email">Email</label>
              <p class="form-field">
                <input type="text" name="email" value="" class="text" size="30" maxlength="255">
              </p>
              <input type="submit" accesskey="s" value="Go">
            </div> -->
            <ul class="social-list">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-linkedin"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
              <li><i class="fa fa-tumblr"></i></li>
              <li><i class="fa fa-github"></i></li>
            </ul>
          </div>
        </div>
        <div class="row zapcee-sub-footer">
          <div class="wrapper">
            <div class="col-md-4">
              <div class="logo">
                <span class="outer"><span class="inner">Z</span></span>
              </div>
               © 2015 Zapcee.com
            </div>
            <div class="col-md-8 made-with-love">
              <span class="pull-right">Made with <i class="fa fa-heart"></i> in India</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





