<div class="container-fluid landing-page">
    <div class="row landing-header-wrapper1">
        <a class="next-section scroll hidden-xs" href="#about"> <i class="fa fa-chevron-down"></i> </a>
        <div class="col-md-12 col-sm-12 col-xs-12 landing-nav">
            <div class="wrapper">
                <div class="logo pull-left">
                    <span class="outer"><span class="inner">Z</span></span> Zapcee
                </div>
          <ul class="subnav-inner">
            <li>
              <a ui-sref="home"> Home</a>
            </li>
            <li>
              <a class="button" ui-sref="auth.signup" >Sign up for free</a>
            </li>
            <li>
              <a ui-sref="auth.signin"> Login</a>
            </li>
          </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 landing-banner" id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    <li>
                        <h1> Let us help to grow your business. </h1>
                        <div class="banner-desc">
                            <span>We create software that solves business problems, resulting in greater workflow efficiency, more revenue for your business, and much happier customers.</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" tabindex="5" type="submit" value="Contact Us">
                        </div>
                    </li>
                    <li>
                        <h1> Keep Your Web Application Working For Your Business. </h1>
                        <div class="banner-desc">
                            <span>If your business has made a significant investment in getting a web application launched, yet lack in-house expertize to maintain it, we can help.</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" tabindex="5" type="submit" value=" Click Here to Make Your Web App An Asset">
                        </div>
                    </li>
                    <li>
                        <h1> Gain Confidence In Your Web Application. </h1>
                        <div class="banner-desc">
                            <span>If you've created software, but aren't 100% sure it's going to work for you now and in the future, we can help.</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" tabindex="5" type="submit" value="  Click Here To Reserve A Code Audit ">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row landing-content-wrapper">

        <section id="about" class="col-md-12 content text-center light how-it-works">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 overlay-text">
                        <h2>Software, customized for your business.</h2>
                        <p> We build and maintain custom web applications. We follow industry best practices for coding and include a fully automated test suite in our delivered code.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 overlay-text icons">
                        <div class="icon-wrapper"> <i class="fa fa-building-o icon-large"></i></div>
                        <h3 class="text-center">Enterprise</h3>
                        <p> Team supplement, special projects, code audits, and more. Our clients trust us to get the job done quickly and efficiently.</p>
                    </div>
                    <div class="col-sm-4 overlay-text icons">
                        <div class="icon-wrapper"> <i class="fa fa-line-chart icon-large"></i></div>
                        <h3 class="text-center">Small Business</h3>
                        <p> We'll work with you to evaluate existing processes, identify candidates for automation, and implement a solution that maximizes your ROI.</p>
                    </div>
                    <div class="col-sm-4 overlay-text icons">
                        <div class="icon-wrapper"> <i class="fa fa-rocket icon-large"></i></div>
                        <h3 class="text-center">Startups</h3>
                        <p> Have an idea, but lack the technical skills to make it a reality? We'll help you launch quickly, and be there to adjust and scale when your idea takes off.</p>
                    </div>
                </div>
            </div>
            <div class="overlay-bg light"></div>
        </section>
        <div class="col-md-12 landing-user-comment">
            <h2>Hear what our clients have to say about their experiences</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 step-img">
                            <img src="/modules/core/client/img/surya.jpeg" width="64" height="64" class="img-circle">
                        </div>
                        <div class="col-md-9 comment">
                            <h4>Surya Singh</h4>
                            <p>I am very happy with the yoga classes given by Ms. Bhanu. Each class has a different variation which keeps me interested. Overall, Zapcee is a great platform to get all the services at one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 step-img">
                            <img src="/modules/core/client/img/surya.jpeg" width="64" height="64" class="img-circle">
                        </div>
                        <div class="col-md-9 comment">
                            <h4>Surya Singh</h4>
                            <p>I am very happy with the yoga classes given by Ms. Bhanu. Each class has a different variation which keeps me interested. Overall, Zapcee is a great platform to get all the services at one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 step-img">
                            <img src="/modules/core/client/img/surya.jpeg" width="64" height="64" class="img-circle">
                        </div>
                        <div class="col-md-9 comment">
                            <h4>Surya Singh</h4>
                            <p>I am very happy with the yoga classes given by Ms. Bhanu. Each class has a different variation which keeps me interested. Overall, Zapcee is a great platform to get all the services at one place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 book-with-app">
            <h3>BOOK NOW WITH OUR APPS</h3>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 img-block">
                    <img src="/modules/core/client/img/googleplay-getapp-icon.png" height="62" width="185" class="img-responsive">
                    <img src="/modules/core/client/img/app_store_lg.png" height="62" width="185" class="img-responsive">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 text-block">
                    <h4>Enter your number to get the Zapcee app</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" style="height:40px;" placeholder="Phone Number" aria-describedby="basic-addon2">
                        <span class="input-group-addon" style="background-color:#6e5baa;color:#fff;border:1px solid #6e5baa;" id="basic-addon2">GET APP</span>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-12 care-for-business">
            <h2>We care for your business</h2>
            <p>Engage your service with million of customer and earn money by becoming zapcee service provider</p>
            <a class="button" href>See what you can earn</a>
            <a class="button" href>Join As Professional</a>
        </div>
    </div>
    <div class="row zapcee-landing-footer">
        <div class="col-md-12">
            <div class="row landing-footer-wrapper">
                <div class="col-md-8 zapcee-footer-links">
                    <div class="row">
                        <nav class="col-md-3">
                            <h4>Products</h4>
                            <ul>
                                <li><a href>Zapcee Platform</a></li>
                                <li><a href>Zapcee Connect</a></li>
                                <li><a href>Zapcee Postgres</a></li>
                                <li><a href>Zapcee Redis</a></li>
                                <li><a href>Zapcee Enterprise</a></li>
                                <li><a href>Elements Marketplace</a></li>
                                <li><a href>Pricing</a></li>
                            </ul>
                        </nav>
                        <nav class="col-md-3">
                            <h4>Resources</h4>
                            <ul>
                                <li><a href>Documentation</a></li>
                                <li><a href>Blog</a></li>
                                <li><a href>Get Started</a></li>
                            </ul>
                        </nav>
                        <nav class="col-md-3">
                            <h4>About</h4>
                            <ul>
                                <li><a href>About Us</a></li>
                                <li><a href>What is Zapcee</a></li>
                                <li><a href>Our Customers</a></li>
                                <li><a href>Careers</a></li>
                                <li><a href>Partners</a></li>
                            </ul>
                        </nav>
                        <nav class="col-md-3">
                            <h4>Support</h4>
                            <ul>
                                <li><a href>Help</a></li>
                                <li><a href>Status</a></li>
                                <li><a href>Critical Apps</a></li>
                                <li><a href>Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-4 zapcee-footer-social">
                      <h3><i class="fa fa-paper-plane-o" style="margin-right:8px;"></i>Share your love</h3>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google-plus"></i></li>
                        <li><i class="fa fa-tumblr"></i></li>
                        <li><i class="fa fa-github"></i></li>
                    </ul>
                </div>
            </div>
            <div class="row zapcee-sub-footer">
                <div class="wrapper">
                    <div class="col-md-4">
                        <div class="logo">
                            <span class="outer"><span class="inner">Z</span></span>
                        </div>
                        © 2015 Zapcee.com
                    </div>
                    <div class="col-md-8 made-with-love">
                        <span class="pull-right">Made with <i class="fa fa-heart"></i> in India</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
function handleResize() {
    var h = $(window).height();
    $('.landing-header-wrapper').css({
        'height': h + 'px'
    });
}
$(function() {
    handleResize();

    $(window).resize(function() {
        handleResize();
    });

    $(window).scroll(function() {
        if ($(this).scrollTop() > $(window).height()) {
            $('.landing-nav').addClass("sticky");
        } else {
            $('.landing-nav').removeClass("sticky");
        }
    });

    $(document).on('click', '.next-section', function(event) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: $('.landing-content-wrapper').offset().top
        }, 1000);
    });
});
</script>
</div>
