
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 17px 16px 0px 14px;
  pointer-events: none;
  color: #999;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  {
   padding-left:  30px;
   height: 46px;
 }
.right-addon input {
  padding-right: 30px;
  height: 46px;
}



.ftp-wrapper {
	
}

.ftp-wrapper .main-content {
  height: 100px;
  background-color: #fff;
  margin-bottom: 30px;

}

.ftp-wrapper .main-content .nav-step .nav-step-item.prev a i {
  color: #6e5baa;
  border-color: #6e5baa;
}

.ftp-wrapper .main-content .nav-step .nav-step-item.prev div {
  color: #6e5baa;
  
}

.ftp-wrapper .search-box {
	padding: 0px 50px;
	margin-bottom: 40px;
}

.ftp-wrapper .heading h2,.ftp-wrapper .heading h5 {
  padding: 0px;
  margin: 0px;
}

.ftp-wrapper .heading{
  color: #888;
  margin-bottom: 10px;
}



.ftp-wrapper .search-box .form-control {
  box-shadow: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cacace;
}

.ftp-wrapper .search-box .form-control:focus {
  border-color: #79589F;
  outline: 0px none;
   
}

.ftp-wrapper .services {
	padding: 0px 50px; 
}

.ftp-wrapper  .service-item-wrapper {
	padding-right: 15px;
	padding-left: 15px;
}


.ftp-wrapper .service-item {
    color: #777;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    cursor: pointer;
    margin-bottom: 30px;
} 

.ftp-wrapper .service-item.element-box {
    padding: 0 4px;
    /*margin: 4px 0;*/
    display: inline-block;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    border: 1px solid #eeeeee;
    -webkit-transition: border 150ms ease;
    transition: border 150ms ease;
}

.ftp-wrapper .service-item.brand-title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
}

.ftp-wrapper .service-item  p {
	font-size: 14px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    color: #777;
    padding: 0 15px;
    margin-bottom: 15px;
}

.ftp-wrapper .service-item i {
    font-size: 22px;
    padding-top: 10px;
   
}

.ftp-wrapper .service-item.element-box:hover {
    background-color: #fdfdfd;
    border: 1px solid #6e5baa;
}

.ftp-wrapper .service-item.active {
    background-color: #fdfdfd;
    border: 1px solid #6e5baa;
}

.ftp-wrapper .service-item.active i {
   color: #6e5baa;
}

.ftp-wrapper .service-item.active .brand-title {
   color: #6e5baa;
}

.ftp-wrapper a.button {
    background: #6e5baa;
    border-radius: 3px;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin: 0 auto;
    max-width: 220px;
    padding: 0.9em;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.ftp-wrapper a.button:hover {
    background: rgba(118,72,160,0.7);
}




