.login-wrapper {
  padding: 45px 50px 125px 50px;
  color: #fff;
  margin-top: 0px;
  background-attachment: fixed !important;
  background-color: #3b2f63;
  background-image: radial-gradient(at 0 bottom,rgba(118,72,160,0.7) 0,rgba(118,72,160,0) 60%),radial-gradient(at 90% bottom,#523f8c 0,rgba(82,63,140,0) 40%),radial-gradient(at 50% top,rgba(84,90,182,0.6) 0,rgba(84,90,182,0) 75%),radial-gradient(at right top,#794aa2 0,rgba(121,74,162,0) 57%);
}

.login-header {
  height: 50px;
  border-bottom: 1px solid #E7E7EC;
  position: relative;
  background-color: #fff;
}

.login-footer {
  /*height: 50px;*/
  border-top: 1px solid #E7E7EC;
  font-size: 14px;
  padding: 20px 150px 8px 150px;
  background-color: #fff;
}

.signup {
  width: 400px;
}
.signup > span {
  color: #c4c2df;
}

.left-promo-video {
  padding-top: 14px;
}

/*
  ======================
    Form Style
  ======================
*/
.form-group {
  margin-top: 20px;
}

.form-control {
  box-shadow: inset 0 1px 2px rgba(202,202,206,0.4);
  background-color: #fff;
  background-image: none;
  border: 1px solid #cacace;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 17px 16px 0px 14px;
  pointer-events: none;
  color: #999;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  {
   padding-left:  33px;
   height: 46px;
 }
.right-addon input {
  padding-right: 30px;
  height: 46px;
}

input[type=submit] {
    background-color: #e4ddef;
    background-image: linear-gradient(#fff,#e7e4ee);
    color: #603895;
    font-size: 1.8rem!important;
    font-weight: 600;
    height: 6rem;
}

.error-mesg{
	background-color:#79589f;
	color:#ffffff;
	font-size:14px;
	border-radius:4px;
	padding:12px 27px 13px 16px;
	position:absolute;
	left:-150px;
	bottom:0;
	max-width: 545px;
	z-index:999;
}
.error-mesg:after {
  content: "";
	height: 0px;
	position: absolute;
	border-bottom: 9px solid transparent;
	top: 17px;
	right: -7px;
	border-top: 5px solid transparent;
	border-left: 8px solid #79589f;
}

.left-promo {
  height: 400px;
  margin-top: 90px;
  position: relative; 
  background: url('/modules/users/client/img/general/frame-imac.png');
  /*border-radius: 8px;
  box-shadow: 0 0 0 5px #fff,0 0 0 7px #ddd,0 0 11px 8px rgba(0,0,0,0.1);
  background-color: #fff;*/
  background-size: 440px 350px;
  background-repeat: no-repeat;
}

.left-promo-content {
   padding-left: 25px;
   padding-right: 30px;
}

.left-promo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.left-promo h2 {
	padding-bottom: 10px;
  padding-top: 20px;
  font-size: 24px;
  color: #444;
}
.left-promo ul li {
	padding-bottom:10px;
  /*color: #c4c2df;*/
  color: #777;
  font-size: 15px;
}

.left-promo ul li i {
	margin-right: 7px;
  font-size: 17px;
}

.carousel-dot-nav {
  margin-left: 160px;
  margin-top: 5px;
}

.dot {
    background: rgba(110,91,170,0.2);
    border-radius: 6px;
   /* box-shadow: inset 1px 1px 1px #888;*/
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 2px;
    cursor: pointer;
}

.dot:hover {
    background: rgba(110,91,170,0.6);
}

.dot.active {
    background: rgba(110,91,170,0.9);
}

.tab {

}

.tab .tab-item {
  border-top:3px solid transparent;
  border-left:1px solid #daddde;
  padding: 15px 30px;
  line-height: 100%;
  text-align: center;
  color:#777;
  font-size:16px;
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  /*min-width: 140px;*/
  margin-right: -3px;
}

.tab .tab-item.last{
  border-right:1px solid #daddde;
}

.tab .tab-item:hover{
  background-color:#EEEFF1;
}

.tab .active{
  color:#79589f; 
  font-weight: bold;
  background-color:#EEEFF1;
}

.tab .tab-item span {
  font-weight: 500;
}

.login-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-footer .social {
  font-size: 18px;
  font-weight: bold;
}

.login-footer .social li{
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #777;
  padding-top: 5px;
  padding-left: 10px;
  margin-left: 10px;
}

.login-footer .social li:hover{
  border: 1px solid #3F3F44;
}

.login-footer ul li { 
  display: inline-block;
  margin-left: 18px;
}

.login-footer ul li a { 
  text-decoration: none;
  color: #7D7D8E;
  /*color: #3F3F44;*/
}

.login-footer ul li a:hover { 
  color: #3F3F44;
}

.login-footer ul .con-link a {
  font-weight: 700;
  border-radius: 4px;
  line-height: 22px;
  padding: 5px 12px;
  box-shadow: 0px 0px 0px 1px rgba(121, 88, 159, 0.6) inset;
  color: #60467E;
}

.login-footer ul .con-link a:hover {
  background: rgba(121, 88, 159, 0.05) none repeat scroll 0% 0%;
  box-shadow: 0px 0px 0px 1px rgba(121, 88, 159, 0.6) inset;
  color: #60467E;
}


.tos {
    font-size: 14px;
    text-align: center;
    color: #c4c2df;
    margin: 0 0 10px;
    font-weight: 600;
}

.tos a {
    color: white;
    text-decoration: none;
}
