<div class="container ftp-wrapper" ng-controller="FtuController">
  <a href="/api/auth/signout" target="_self">Signout</a>
<!--     <div class="col-lg-12 nav-step">
      <div class="nav-step-item prev" ui-sref-active="active" ui-sref="ftu.services">
        <a href="#">
          <i class="numberCircle">1</i>
          <div>Services</div>
          
        </a>
      </div>
      <div class="nav-step-item " ui-sref-active="active" ui-sref="">
        <a href="#">
          <i class="numberCircle">2</i>
          <div>Create</div>
        
        </a>
      </div>
      <div class="nav-step-item " ui-sref-active="active" ui-sref="">
        <a href="#">
          <i class="numberCircle">3</i>
          <div>Create</div>
    
        </a>
      </div>
    </div> -->
  <div ui-view></div> 
</div>