<div class="heading text-center">
  <h2> Services</h2>
  <h5> Choose the Services you want to provide</h5>
</div>
<div class="search-box row text-center">
  <div class = "col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
   <div class="inner-addon left-addon">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search Services"/>
    </div>
  </div>
</div>

<div class="row services">
  <div class="service-item-wrapper col-md-3 col-sm-4 col-xs-12 " ng-repeat="item in items | filter:searchText">
    <div class="service-item element-box" ng-class="{ 'active' : item.selected}" ng-click="toggle(item)">
      <i class="fa fa-check-circle"></i>
      <h4 class="brand-title">
        {{item.serviceName}}
      </h4>
      <p style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">{{ item.serviceDescription }}</p>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="mod-signup">
    <a class="button" ng-click="saveAndContinue()">Save and Continue</a>
  </div>
</div>

