<section data-ng-controller="ServicerequestsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Servicerequests</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="servicerequest in servicerequests" data-ng-href="/#!/servicerequests/{{servicerequest._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="servicerequest.created | date:'medium'"></span>
				by
				<span data-ng-bind="servicerequest.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="servicerequest.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!servicerequests.$resolved || servicerequests.length">
    	No Servicerequests yet, why don't you <a href="/#!/servicerequests/create">create one</a>?
    </div>
</section>