<section data-ng-controller="ServicerequestsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="servicerequest.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == servicerequest.user._id">
		<a class="btn btn-primary" href="/#!/servicerequests/{{servicerequest._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="servicerequest.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="servicerequest.user.displayName"></span>
		</em>
	</small>
</section>