<section data-ng-controller="ServicesController">
    <div class="page-header">
        <h1>New Service</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="serviceType">Service Type</label>
                    <div class="controls">
                        <input type="text" data-ng-model="serviceType" id="serviceType" class="form-control" placeholder="serviceType" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="serviceName">Service Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="serviceName" id="serviceName" class="form-control" placeholder="serviceName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="serviceDescription">Service Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="serviceDescription" id="serviceDescription" class="form-control" placeholder="serviceDescription" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="serviceIcon">Service Icon</label>
                    <div class="controls">
                        <input type="text" data-ng-model="serviceIcon" id="serviceIcon" class="form-control" placeholder="serviceIcon" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>