<section data-ng-controller="ServicesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Services</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="service in services" data-ng-href="/#!/services/{{service._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="service.created | date:'medium'"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="service.serviceName"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!services.$resolved || services.length">
    	No Services yet, why don't you <a href="/#!/services/create">create one</a>?
    </div>
</section>