<section data-ng-controller="ServicesController" data-ng-init="findOne()">
	<div class="page-header">
		<span data-ng-bind="service.serviceName"></span>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == service.user._id">
		<a class="btn btn-primary" href="/#!/services/{{service._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="service.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>