<div class="row sub-nav">
  <div class="col-lg-12">
    <div class="sub-nav-item">
      <a ui-sref="index.home.account.notification" ui-sref-active="active">
        <i class="fa fa-bell-o"></i>
        <span>Notification</span>
      </a>
    </div>
    <div class="sub-nav-item ">
      <a ui-sref="index.home.account.payout" ui-sref-active="active">
        <i class="fa fa-money"></i>
        <span>Payout Information</span>
      </a>
    </div>
    <div class="sub-nav-item" ng-show="authentication.user.provider === 'local'">
      <a ui-sref="index.home.account.transactionHist" ui-sref-active="active">
        <i class="fa fa-history"></i>
        <span>Transaction History</span>
      </a>
    </div>
    <div class="sub-nav-item">
      <a ui-sref="index.home.account.privacy" ui-sref-active="active">
        <i class="fa fa-lock"></i>
        <span>Privacy</span>
      </a>
    </div>
    <div class="sub-nav-item">
      <a href="#" ui-sref="index.home.account.security" ui-sref-active="active">
        <i class="fa fa-user-secret"></i>
        <span>Security</span>
      </a>
    </div>
    <div class="sub-nav-item">
      <a href="#" ui-sref="index.home.account.settings" ui-sref-active="active">
        <i class="fa fa-cogs"></i>
        <span>Settings</span>
      </a>
    </div>
  </div>
</div>