<section class="row" ng-controller="EditProfileController">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Required</h3>
            </div>
            <div class="panel-body">
                <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="form-horizontal signin" novalidate autocomplete="off">
                    <div class="form-group" show-errors>
                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
                            <div ng-messages="userForm.firstName.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">First name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
                            <div ng-messages="userForm.lastName.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Last name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
                            <p class="text-muted">We won’t share your private email address with other Zapcee user. <a href="">Learn more.</a></p>
                            <div ng-messages="userForm.email.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" required>
                            <p class="text-muted">Username let you share your profile with world. <a href="">http://www.zapcee.com/{{user.username}}</a></p>
                            <div ng-messages="userForm.username.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Username is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group show-errors">
                        <label for="phonenumber" class="col-sm-2 control-label">Phone Number</label>
                        <div class="z-input-group col-sm-4">
                            <div class="input-group-addon">+91</div>
                            <input type="text" class="form-control" id="phonenumber" placeholder="phone number">
                        </div>
                        <button type="submit" class="btn btn-danger">Verify by SMS</button>
                        <div class="col-sm-8 col-sm-offset-2">
                            <p class="text-muted">We only share your number with another zapcee user once you have a confirmed booking. This is how we can all get in touch.<a href="">Why Verify</a></p>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="description" class="col-sm-2 control-label">Describe Yourself</label>
                        <div class="col-sm-10">
                            <textarea rows="5" type="text" id="description" name="description" class="form-control" ng-model="user.description" placeholder="write something about yourself" required></textarea>
                            <p class="text-muted">Zapcee is built on relationships among millions of customer and service provider. Help other customer who is looking for service to know about you.</p>
                            <p class="text-muted">
                                Tell them about your experience, skills , achivements.
                            </p>
                            <p class="text-muted">
                                Tell them how your are different from another service provider, what's your style of working.
                            </p>
                            <div ng-messages="userForm.username.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Username is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--                     <div class="text-center form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Save Profile</button>
                    </div>
                    <div ng-show="success" class="text-center text-success">
                        <strong>Profile Saved Successfully</strong>
                    </div>
                    <div ng-show="error" class="text-center text-danger">
                        <strong ng-bind="error"></strong>
                    </div> -->
