<div class="row sub-nav">
  <div class="col-lg-12">
    <div class="sub-nav-item">
      <a ui-sref="index.home.settings.profile" ui-sref-active="active">
        <i class="fa fa-pencil-square-o"></i>
        <span>Profile</span>
      </a>
    </div>
    <div class="sub-nav-item ">
      <a ui-sref="index.home.settings.picture" ui-sref-active="active">
        <i class="fa fa-picture-o"></i>
        <span>Photo & Video</span>
      </a>
    </div>
    <div class="sub-nav-item" ng-show="authentication.user.provider === 'local'">
      <a ui-sref="index.home.settings.verification" ui-sref-active="active">
        <i class="fa fa-search-plus"></i>
        <span>Verification</span>
      </a>
    </div>
    <div class="sub-nav-item">
      <a ui-sref="index.home.settings.review" ui-sref-active="active">
        <i class="fa fa-star"></i>
        <span>Review</span>
      </a>
    </div>
    <div class="sub-nav-item">
      <a href="#" ui-sref="index.home.settings.reference" ui-sref-active="active">
        <i class="fa fa-certificate"></i>
        <span>References</span>
      </a>
    </div>
  </div>
</div>