<div class="container-fluid">
  <div class="row login-header">
    <div class="col-md-6">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <ul class="tab">
          <li ui-sref="auth.signup" class="tab-item" ui-sref-active="active"> 
            <i class="icon ion-person-add"></i>
            <span >Sign Up</span>
          </li>
          <li ui-sref="auth.signin" class="tab-item last" ui-sref-active="active"> 
            <i class="icon ion-log-in" ></i>
            <span >Login</span>
          </li>
      </ul>
    </div>
  </div>
  <div class="login-wrapper row">
    <div class="login-content">
      <div class="col-md-1">
      </div>
      <div class="col-md-4 left-promo">
        <div class="left-promo-video">
           <iframe width="410" height="230" src="https://www.youtube.com/embed/BT_vv5moEm8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div ui-view></div> 
      <div class="col-md-1">
      </div>
    </div>
  </div>
  <div class="login-footer row">
    <div class="col-md-12">
      <ul class="pull-right social">
      <li>
        <a href="" title="facebook"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="" title="google plus"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="" title="twitter"><i class="fa fa-twitter"></i></a>
      </li>

      <li>
        <a href="" title="youtube"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="" title="instagram"><i class="fa fa-instagram"></i></a>
      </li>
      
    </ul>
    <ul class="pull-left">
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Careers</a>
      </li>
      <li>
        <a href="">Privacy Policy</a>
      </li>
      <li class="con-link">
        <a href="">Contact Us</a>
      </li>
    </ul>
    </div>
  </div>
</div>

<!-- <section class="row" ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
  <div class="col-md-12 text-center">
    <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
    <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
    <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
    <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">
    <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
    <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png">
  </div>
  <div ui-view></div>
</section> -->