<!-- <div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Or with your account</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign in</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signup">Sign up</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div> -->

<div class="col-md-4 signup" ng-controller="AuthenticationController">
  <h2>Sign In</h2>
 <!--  <span> Try it out for Free!</span> -->
  <form name="userForm" ng-submit="signin(userForm.$valid)" novalidate autocomplete="off">
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-lock"></i>
      <input autocapitalize="off" class="required form-control input-lg" id="username" name="username" placeholder="Username or Email Address" ng-model="credentials.username" tabindex="3" type="text" value="" required>
    </div>
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-lock"></i>
      <input autocapitalize="off" class="form-control input-lg"id="password" name="password" placeholder="Password" ng-model="credentials.password" tabindex="4" type="password" value="" required>
    </div>
    <div class="form-group last">
      <input class="form-control input-lg" tabindex="5" type="submit" value="Sign In">
    </div>
  </form>
    <a ui-sref="password.forgot">Forgot Password</a>
  <p class="tos">Signing up signifies that you have read and agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>

</div>
