<!-- <div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Or sign up using your email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required ng-minlength="6">
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <p class="help-block error-text" ng-message="minlength">Password is too short.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-large btn-primary">Sign up</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div> -->

<div class="col-md-4 signup" ng-controller="AuthenticationController">
  <h2>Sign Up</h2>
  <span> Try it out for Free!</span>
  <form name="userForm" ng-submit="signup(userForm.$valid)" novalidate autocomplete="off">
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-user"></i>
      <input autocapitalize="off" class="required form-control input-lg" id="firstName" name="firstName" placeholder="First Name" ng-model="credentials.firstName" tabindex="1" type="text" value="" required>
      <div class="error-mesg" ng-show="userForm.firstName.$error.required && userForm.firstName.$dirty || userForm.$submitted && userForm.firstName.$error.required" role="alert">
          Enter your name
      </div>
    </div>
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-user"></i>
      <input autocapitalize="off" class="required form-control input-lg" id="lastName" name="lastName" placeholder="Last Name" ng-model="credentials.lastName" tabindex="1" type="text" value="" required>
      <div class="error-mesg" ng-show="userForm.lastName.$error.required && userForm.lastName.$dirty || userForm.$submitted && userForm.lastName.$error.required" role="alert">
          Enter your name
      </div>
    </div>
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-user"></i>
      <input autocapitalize="off" class="required form-control input-lg" id="username" name="username" placeholder="username" ng-model="credentials.username" tabindex="1" type="text" value="" required>
      <div class="error-mesg" ng-show="userForm.username.$error.required && userForm.username.$dirty || userForm.$submitted && userForm.username.$error.required" role="alert">
          Please provide username
      </div>
    </div>
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-envelope"></i>
      <input autocapitalize="off" class="required form-control input-lg" id="email" name="email" placeholder="Email" ng-model="credentials.email" tabindex="2" type="email" value="" required>
      <div class="error-mesg" ng-show="userForm.email.$error.required && userForm.email.$dirty || userForm.$submitted && userForm.email.$error.required" role="alert">
          Enter your Email
      </div>
       <div class="error-mesg" ng-show="userForm.email.$error.email && userForm.email.$dirty || userForm.$submitted && userForm.email.$error.required" role="alert">
          Enter Valid Email
      </div>
    </div>
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-lock"></i>
      <input autocapitalize="off" class="form-control input-lg"id="password" name="password" placeholder="Password" ng-model="credentials.password" tabindex="4" type="password" value="" required>
      <div class="error-mesg" ng-show="userForm.password.$error.required && userForm.password.$dirty || userForm.$submitted && userForm.password.$error.required" role="alert">
          Enter your Password
      </div>
    </div>
    <div class="form-group last">
      <input class="form-control input-lg" tabindex="5" type="submit" value="Create Free Account">
    </div>
  </form>
  <p class="tos">Signing up signifies that you have read and agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
</div>
