/*
  ========================
   Sidebar-content toggle
  ========================
*/
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/*
  =======================
     Main Content Style
  =======================
*/
.main-content {
  margin-top: 100px;
  padding-top: 35px;
}

/*
  =================
     Step Menu
  =================
*/
.main-content .nav-step {
  text-align: center;
}

.main-content .nav-step .active {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #FFF none repeat scroll 0% 0%;
}

.main-content .nav-step .nav-step-item {
  display: inline-block;
  margin-right: 26px;
  padding: 10px 18px 10px 60px;
  text-align: left;
  position: relative;
}

.main-content .nav-step .nav-step-item a {
  color: #444;
  text-decoration: none;
  font-size: 18px;
}

.main-content .nav-step .nav-step-item a div{
  margin-bottom: 0px;
  padding: 0px;
}

.main-content .nav-step .nav-step-item a small{
  color: #7D7D8E;
  display: block;
  font-size: 14px;
}

.main-content .nav-step .nav-step-item a i{
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -17px;
}

.numberCircle{
    width: 32px;
    height: 32px;
    padding: 2px;
    text-align: center;
}

/*
  ============================
     Request Page Styles
  ============================
*/
.main-content .request-content {
  padding: 0px 25px 10px;
}

.request-list {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
  font-size: 18px;
  color: #444;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.request-list-content{
  border-bottom: 1px solid #DDD;
  padding: 10px;
  margin: 0px;
  /*height: 90px;*/
}

.content-list-expanded {
  /*height: 450px;*/
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDD;
}

.expanded {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05) inset;
  background: #F7F7F7 none repeat scroll 0% 0%;
}

.request-list-content:hover {
  background: #FAFAFA none repeat scroll 0% 0%;
  cursor: pointer;
}

.expanded .request-list-content:hover {
  background: none;
}

.request-list-header {
    padding: 15px 20px;
    height: 50px;
    font-size: 14px;
    color: #777;
    font-weight: 500;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    border-top: 3px solid #777;
    border-bottom: 1px solid #DDD;
}

.request-list-header i{
  margin-left:3px;
  font-size: 16px;
  position: relative;
  top:2px; 
  cursor: pointer;
}
.request-list-content-others {
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}

.request-list-content-others .show-interest i {
  font-size: 30px;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
}

.request-list-content-others .show-interest .accept-btn {
  color: #999;
}

.request-list-content-others .show-interest .message-btn {
  color: #534292;
  font-size: 28px;
}

.request-list-content-others .time span{
  margin-right: 2px;
}

.request-list-content-details {
  font-weight: 500;
  font-size: 16px;
}

.badge-danger {
  background-color: #B94A48;
}

.badge-warning {
  background-color: #F89406;
}

.text-warning {
  color: #F89406;
}

.text-muted {
  color: #999;
}



/*
  =================
  Expired list Style
  =================
*/

.request-list-content.expired {
  background: #FFF none repeat scroll 0% 0%;*/
}

.request-list-content.expired .request-list-content-others,
.request-list-content.expired .request-list-content-details
 {
  color: #999;
}

.request-list-content.expired .message-btn{

}

.request-list-content.expired:hover{
  background-color: none;
  cursor:no-drop;
}

.request-list-content .expired-text {
  color: #B94A48;
}


/*
  ============================
    Expanded Page Styles
  ============================
*/

.content-list-expanded  {
  padding:0px 15px 25px 15px;
  position: relative;
}

.expanded-top-icon {
  position: absolute;
  top:3px;
  left:7px;
  color: #888;
}

.expanded-top-icon i {
  font-size: 16px;
  color: #1ab394;
}

.expanded-top-icon span {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top:-2px;
}

.content-list-expanded .expanded-profile-image img {
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.content-list-expanded .expanded-profile-image {
  width: 75px;
  float: left;
}

.content-list-expanded h5,
.content-list-expanded h4
{
  color: #666;
  margin: 0;
  margin-bottom: 3px;
}


.expanded-header .timeline-head h3 {
   padding-left: 55px;
   margin-bottom: 0;
   color: #888;
   font-weight: 600;
}

.expanded-user-info {
  margin-top: 5px;
}



/* timeline Generic */
.expanded-timeline {
  margin-top: 30px;
}

.content-list-expanded .expanded-content .list-timeline:before {
  position: absolute;
  top: -18px;
  left: 110px;
  bottom: 0;
  display: block;
  width: 4px;
  content: "";
  background-color: #777;
  z-index: 1;

}


.list-timeline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-timeline>li {
    min-height: 40px;
    z-index: 2;
    margin-bottom: 15px;
    position: relative;

}

.list-timeline .list-timeline-time {
    padding: 10px 0 10px 0;
    min-height: 40px;
    text-align: right;
    color: #777;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 70px;
    background-color: transparent;
}

.list-timeline .list-timeline-icon {
    position: absolute;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    top: 3px;
    left: 80px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    z-index: 2 !important;
    background-color: #aaa;
}

.list-timeline .list-timeline-icon.success {
  background-color: #1ab394;
}

.list-timeline .list-timeline-content {
  padding: 10px 10px 1px;
  padding-left: 125px;
}

.list-timeline .list-timeline-content h4{ 
  margin-bottom: 2px;
}

.list-timeline .list-timeline-content h5{ 
  color: #777;
  font-size: 13px;
 
}

.expanded-content-rightpane {
  margin-top: -20px;
}

.expanded-content-details {
  margin: 20px 0;
  padding: 0px;
}

.expanded-content-details:before {
  position: absolute;
  top: 25px;
  left: 105px;
  bottom: 0;
  display: block;
  width: 70%;
  height: 0px;
  border-bottom: 4px dotted #777;
  content: "";
}

.expanded-content-details i {
  font-size: 34px;
  margin-bottom: 8px;
  color: #666;
  cursor: pointer;
}

.expanded-content-details .transport {
  position: absolute;
  left: 46%;
  top: 10px;
  width:50px;
  z-index: 45;
  text-align: center;
}

.expanded-content-details .transport i {
  font-size: 32px;
}

.expanded-content-details .from-loc,
.expanded-content-details .to-loc
{
  width: 170px;
  text-align: center;
}

.expanded-content-details .from-loc i {
  color: #ed5565
}

.expanded-content-details .to-loc i {
  color: #1ab394;
  /*color: #534292;*/
}

.expanded-content-rightpane .imagebox {
  padding: 5px;
  cursor: pointer;
  background: #fff;
  transition: transform .35s ease-out;
}

.expanded-content-rightpane .imagebox:hover {
  
}
.expanded-content-rightpane .imagebox img{
  padding: 1px;
}

.expanded-content-rightpane .imagebox .left {
  padding: 0;
  padding-left: 14px; 
}

.expanded-content-rightpane .imagebox .right {
  padding: 0;
  padding-right: 14px; 
}

.expanded-content-description-container {
  padding: 0 10px;
  margin-top: 10px;
}

.expanded-content-description {
  padding: 10px 10px 10px 5px;
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.09);*/
  border: 1px solid #ddd;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  /*background-color: #fff;*/
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
}

.expanded-content-description .description-box {
  padding-top: 5px;
}

.expanded-content-description .description-box h5 {
  margin-bottom: 5px;
  font-size: 15px;
  color: #777;
}

.expanded-content-description .description-box h5 span{
  font-weight: 600;
  font-size: 16px;
}

.expanded-footer button{
  border-radius: 2px;
  width:120px;
  height:40px;
  margin-right: 8px;
  margin-top: 30px;
  font-size: 16px;
  color: #777;
}

.expanded-footer button.bttn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}


.expanded-footer button.bttn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}

.expanded-footer button.bttn-danger{
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}

.expanded-service-taken h4,
.expanded-user-security h4
{
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-top: 2px;
}

.expanded-user-security i {
  margin-left: 3px;
}

.expanded-user-security .identity-dropdown {
   
}

.expanded-user-security .identity-dropdown i{
  color: #666;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.expanded-footer .business-deal {
  margin-top: 50px;
  padding-right: 30px;
}

.business-deal h5 {
  font-size: 16px;
  text-align: right;
}

.business-deal i {
  color: #ed5565;
}

.business-deal i.business-option {
  color: #666;
  font-weight: 600;
  cursor: pointer;
}

