@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/*
  =================
     Core style
  =================
*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #F5F5F5 none repeat scroll 0% ;
}

a {
  text-decoration: none;
}

a, a:active, a:focus {
    outline: none;
}

/*
  =================
     Page layout
  =================
*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, #664A86, #534292);
    background-color: #534292;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

/*
  ====================
      Utility css
  ====================
 */
.purple {
  color: #534292;
}

.success {
   color: #468847;
}

.bg-success {
  background-color: #468847;
}

.bl-color-danger {
  border-left: 3px solid #B94A48;
}

.bl-color-warning {
  border-left: 3px solid #F89406;
}

.bl-color-normal {
  border-left: 3px solid #999;
}

.numberCircle{
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid #666;
    text-align: center;
    font: 22px Arial, sans-serif;
}

.hoverable:hover {
  transition: box-shadow 0.25s ease 0s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hoverable {
  transition: box-shadow 0.25s ease 0s;
}

/* Make an element hoverable */
.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.25s ease 0s;
}

.shadow:hover {
  transition: box-shadow 0.25s ease 0s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-control:focus {
  border-color: #79589F;
  outline: 0 none;
   
}

.tooltip{
    
  font-size:13px;
}

.tooltip-inner {
  padding:10px !important;
  background-color:#79589f;
}

.tooltip.top .tooltip-arrow{
  border-top:5px solid #79589f;
}
.tooltip.left .tooltip-arrow{
  border-left:5px solid #79589f;
}
.tooltip.bottom .tooltip-arrow{
  border-bottom:5px solid #79589f;
}
.tooltip.right .tooltip-arrow{
  border-right:5px solid #79589f;
}


/*
  ====================
     Modal css
  ====================
*/
.app-modal-window .modal-dialog {
  width: 500px;
}

.modal-header,
.popover .popover-header
{
  border-radius: 3px;
  border-top: 4px solid #534292;
  font-size: 20px;
  position: relative;
  border-bottom: none;
}

.modal-header img,
.popover .popover-header img
{
   font-size: 40px;
   font-weight: 100;
   float: right;
   padding-top: 0px;
   margin-top: 0px;
   margin-right: 10px;
   cursor: pointer;
}

.modal-footer,
.popover-wrapper .popover-footer
{
    background-color: #EEEFF1;
    border-top: 1px solid #DBDCDE;
    padding: 11px 0px;
}

.modal-footer .cancel-btn,
.popover-wrapper .popover-footer .cancel-btn
{
    margin: 0px 28px 0px 22px;
    font-size: 20px;
    cursor: pointer;
    color: #666;
    font-weight: 500;
}

.modal-footer .submit-btn,
.popover-wrapper .popover-footer .submit-btn
{
    background: none repeat scroll 0% 0% #534292;
    color: #FFFEFF;
    line-height: 100%;
    padding: 0px 30px 0px 30px;
    height: 41px;
    font-size: 18px;
}


/* css for pop window */
.popover {
  padding: 0px;
  min-width: 400px;
}

.popover .popover-title {
  border-radius: 4px 4px 0 0;
  border-top: 4px solid #534292;
  background: none;
}

.popover .popover-content {
  padding: 0px;
}

.popover .popover-header {
  padding: 10px;
}

.popover .popover-body {
  padding: 0 10px;
}

.popover.top>.arrow:after {
  border-top-color: #EEEFF1;
}

