.nav-header {
  border-bottom: 1px solid #E7E7EC;
  height: 56px; 
}

.top-nav {
   position: fixed;
   right:0;
   left: 15px;
   z-index: 95;
   background: #FFF none repeat scroll 0% 0%;
}

/* Top Menu Style */
.top-nav .nav-item a{
  color: #7D7D8E;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.top-nav .nav-item {
  display: inline-block;
  /*border-left: 1px solid #E7E7EC;*/
  padding: 17px 18px 13px 18px;
  position: relative;
}

.top-nav .item-hover:hover {
  /*background-color: #EEE;*/
  cursor: pointer;
}

.nav-item-badge {
  position: absolute;
  background-color: #B94A48;
  right: 7px;
  top: 10px;
  font-size: 10px;
}

.nav-item.nav-item-toggle {
  border-left: none;
  padding-left: 0px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.top-nav .user-profile-menu {
  padding-bottom: 10px;
  padding-top: 13px;
}

.top-nav .user-profile-menu span {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  color: #444;
}



/* Sub menu Style*/
.sub-nav {
  position: fixed;
  right: 0;
  left: 15px;
  top:56px;
  z-index: 55;
  padding-top: 7px;
  text-align: center;
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px -1px 0px #E7E7EC inset;
}

.sub-nav .sub-nav-item {
  display: inline-block;
  margin-right: 35px;
  padding-top: 7px;
  padding-bottom: 15px;
}

.sub-nav .sub-nav-item a {
  color: #444;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 18px;
}

.sub-nav .sub-nav-item a:hover {
  color: #8D7D9F;
  border-bottom: 1px solid #7D7D8E;
}

.sub-nav .sub-nav-item a.active {
  color: #79589F;
  border-bottom: 1px solid #79589F;
  outline: none;
}

.sub-nav .sub-nav-item a i {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 4px;
    display: inline-block;
}

/*
  ========================
   header media query
  ========================
*/
@media(min-width:768px) {
  .top-nav {
    left: 265px;
  }
  .sub-nav {
    left: 265px;
  }

}
