.landing-page{
	padding: 0px;
	margin: 0px;
}

.landing-page h1,
.landing-page h2 {	
    line-height: 1.1em;
}

.form-control {
  box-shadow: inset 0 1px 2px rgba(202,202,206,0.4);
  background-color: #fff;
  background-image: none;
  border: 1px solid #cacace;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* align icon */
.left-addon .fa  { left:  0px;}


.landing-header-wrapper{
	background-color: #3B2F63;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, circle, #794aa2 0%, rgba(121,74,162,0) 57%);
    background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    color: #c7c0de;
    margin: 0;
    padding: 0;
    padding: 0px;
    margin: 0px;
}


.landing-header-wrapper .landing-nav{
    position: relative;
    background-color: #EAE9F1;
    text-align: left;
    z-index: 10;
    position: fixed;
}



.logo {
  display: inline-block;
	font-size: 24px;
	margin-left: 100px;
	margin-top: 7px;
	color: #6e5baa;
}

.logo .inner{
	display: inline-block;
	padding: 0 12px 0 12px;
	font-size: 32px;
	border-radius: 5px;
	border: 2px solid #fff;
	background-color: #6e5baa;
  color: #fff;
	font-weight: bold;
}

.logo .outer {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #6e5baa;
}

.landing-header-wrapper .landing-nav .subnav-inner li a {
    display: block;
    padding: 1em .9em;
    text-decoration: none;
    color: rgba(110,91,170,0.7);
    border-bottom: 3px solid rgba(110,91,170,0);
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.landing-header-wrapper .landing-nav .wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

.landing-header-wrapper .landing-nav .subnav-inner {
    float: right;
}

.landing-header-wrapper .landing-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.landing-header-wrapper .landing-nav .subnav-inner .button{
	color: #fff;
	background-color: #08bcff;
	font-size: 16px;
	padding: 11px;
	font-weight: 400;
}

.landing-header-wrapper .landing-nav .subnav-inner li {
    display: inline-block;
    font-size: 17px;
    margin-top: 4px;
}

.landing-header-wrapper .landing-banner{
    padding: 3em 0;
    text-align: center;
    margin-top: 90px;
}

.landing-header-wrapper .landing-banner h1 {
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 300;
}

.landing-header-wrapper .landing-banner .banner-desc {
	margin-top: 30px;
}

.landing-header-wrapper .landing-banner .banner-desc span{
    font-weight: 400;
    font-size: 1.9em;
}

.landing-header-wrapper .landing-banner .banner-desc .form-group {
  display: inline-block;
}

.landing-header-wrapper .landing-banner .banner-desc .left-addon input  {
   padding-left:  30px;
}

/* style icon */
.landing-header-wrapper .landing-banner .banner-desc .inner-addon .fa {
  position: absolute;
  padding: 23px 16px 0px 14px;
  pointer-events: none;
  font-size: 18px;
  color: #999;
}

.landing_search_service {
	transition: 150ms background,150ms color;
    color: rgba(255,255,255,.5);
    padding-bottom: 2px;
    padding-left: 39px;
    background: rgba(0,0,0,.13);
    font-weight: 400;
    line-height: inherit;
    font-size: 20px;
    height: 44px;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    outline: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.landing_search_service:focus {
    transition: 75ms background,75ms color;
    background: #fff;
    color: #444;
    font-weight: 400;
}


.landing-content-wrapper{
	 text-align: center;
	 margin: 0;
}

.landing-content-wrapper .heading h2{
    font-size: 1.8em;
    color: #6e5baa;
    margin: 4px;
    margin-top: 40px;
}

.landing-content-wrapper .heading p{
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0 10% 30px 10%;
    background-image: -webkit-linear-gradient(left, #fff, #ddd 35%, #ddd 65%, #fff);
    background-image: linear, to right, #fff, #ddd 35%, #ddd 65%, #fff;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    color: #777;
}

.landing-content-wrapper .catalog {
	padding: 20px 170px 20px 170px;
}

.landing-content-wrapper .catalog .catalog-img {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.service-image-container {
	position: relative;
    box-shadow: 0 0 5px 0 black;
     overflow: hidden;
}

.service-image-container .header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
     z-index: 2;
}

.service-image-container .header .header-label {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    background-color: #007a87;
}

.service-image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

.service-image-container .after .desc {
    bottom: 2px;
    left: 10px;
    position: absolute;
    z-index: 2;
}



.hover {
  position: absolute;
  background: rgba(45, 45, 55, 0.5);
  width: 500px;
  height: 500px;
  top: 280px;
  left: 35px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

.hover i {
  color: #fff;
  font-size: 35px;
  text-decoration: none;
  position: absolute;
  top: 100px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

.image {
    overflow: hidden;
     transition: all .2s ease-in-out; 
}

.service-image-container:hover .image {
   transform: scale(1.1);
}

.service-image-container:hover .hover {
  top: -120px;
  left: -100px;
  cursor: pointer;
}
.service-image-container:hover .hover i {
  font-size: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
          transform: rotate(-45deg) translateY(-50%) translateX(-50%);
}





.landing-content-wrapper .button, a.button {
    background: #6e5baa;
    border-radius: 4px;
    color: white;
    display: block;
    font-weight: bold;
    line-height: 1;
    margin: 0 auto;
    max-width: 220px;
    padding: 0.9em;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.landing-content-wrapper a.button:hover {
    background: #8978c0;
}

.how-it-works,
.book-with-app {
	margin-top: 35px;
	background: #F6F6F6;
    border: 1px solid #D5D5D5;
    border-style: solid none;
    padding: 20px 50px 30px;
    text-align: center;

}

.how-it-works h3,
.book-with-app>h3{
	color: #08bcff;
}

.how-it-works>h3 {
    border-bottom: 1px solid #08bcff;
    width: 15%;
    margin: 5px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
}

.how-it-works p,
.landing-user-comment p,
.care-for-business p{
	color: #747474;
    font-size: 14px;
    line-height: 1.4;
}

.how-it-works .steps-list {
    list-style: none;
    margin: 20px 0 10px;
    padding: 0;
    vertical-align: middle;
}

.how-it-works .steps-list .steps-card {
    margin: 20px 0;
    text-align: left;
}

.how-it-works .steps-list .steps-card h3 {
    font-size: 21px;
    margin-bottom: 3px;
}

.how-it-works .steps-list .steps-card img {
    width: 100%;
}

.how-it-works .steps-list .step-img {
	padding: 10px;
}

.landing-user-comment,
.care-for-business {
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 10px 80px;
}

.landing-user-comment>h3{
    color: #6e5baa;
    margin-bottom: 30px;
}

.landing-user-comment .step-img {
	padding: 15px;
}

.landing-user-comment .comment {
	padding-right: 20px;
	text-align: left;
}

.care-for-business h2 {
	color: #6e5baa;
	margin-bottom: 4px;
}

.care-for-business p{
	margin-bottom: 30px;
	font-size: 16px;
}
.care-for-business .button{
	display: inline-block;
	margin-right: 50px;
}

.zapcee-landing-footer{
    background: #f0f0f0;
    box-shadow: 0 1px 1px 0 rgba(240,240,240,0.1) inset;
    margin: 0;
}

.landing-footer-wrapper{
    padding-top: 15px;
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
    padding: 40px 100px 40px 100px;
    position: relative;
}


.zapcee-landing-footer h4 {
    margin: 1.33em 0;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #211746;
}

.zapcee-landing-footer ul {
    list-style: none;
    padding-left: 0;
    font-weight: 200;
}

.zapcee-landing-footer a:link,
.zapcee-landing-footer a:visited {
    color: #999;
    text-decoration: none;
     font-weight: 400;
}

.zapcee-landing-footer a:hover {
    color: #444;
}

.zapcee-footer-social {
   padding-right: 80px;
    
}

.zapcee-footer-social .social-list {
    padding-top:20px; 
    border-top: 1px solid #d6d6d6;
    color: #999;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.zapcee-footer-social .social-list li {
    display: inline-block;
    margin-right: 12px;
}
.zapcee-footer-social .social-list li:hover{
    color: #4d4d4d
}

.zapcee-landing-footer h3 {
    color: #6e5baa;
    font-size: 16px;
    font-weight: 500;
}

.zapcee-sub-footer {
    background: rgba(255,255,255,0.4);
    padding: 5px;
    font-size: 16px;
    color: #888;
}

.zapcee-sub-footer .logo .inner {
  font-size: 22px;
  padding: 0 7px;
}

.made-with-love {
  line-height: 50px;
  font-size: 16px;
}

.made-with-love span {
  margin-right: 70px;

}

.made-with-love span i {
  color: red;
  margin: 0 3px;
}


.book-with-app h3 {
  margin-bottom: 40px;
}

.book-with-app .img-block{
  margin-top: 10px;
}

.book-with-app .img-block img {
  display: inline-block;
  margin-right: 20px;
}

.book-with-app .text-block {
  text-align: left;
}


.book-with-app .text-block h4 {
  font-size: 16px;
  color: #777;
  margin: 0;
  margin-bottom: 10px;
}



/* Provider Landing Page css Start **/
.landing-header-wrapper1{
  background-color: #3B2F63;
  background-attachment: fixed !important;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, circle, #794aa2 0%, rgba(121,74,162,0) 57%);
    background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    color: #c7c0de;
    margin: 0;
    padding: 0;
    padding: 0px;
    margin: 0px;
}


.landing-header-wrapper1 .landing-nav{
    text-align: left;
    z-index: 10;
    transition: all 0.4s ease;
}

.landing-header-wrapper1 .landing-nav.sticky {
  padding-left: 20px;
  position: fixed;
  background-color: #EAE9F1;
  color: #6e5baa;
}



.logo {
  display: inline-block;
  font-size: 24px;
  margin-left: 100px;
  color: #fff;
  margin-top: 30px;
}

.sticky .logo {
  margin-top: 7px;
  color: #6e5baa;
}

.logo .inner{
  display: inline-block;
  padding: 0 12px 0 12px;
  font-size: 32px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #6e5baa;
  color: #fff;
  font-weight: bold;
}

.logo .outer {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #6e5baa;
}

.landing-header-wrapper1 .landing-nav .subnav-inner li a {
    display: block;
    padding: 1em .9em;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    border-bottom: 3px solid rgba(110,91,170,0);
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.landing-header-wrapper1 .sticky .subnav-inner li a {
  color: #6e5baa;
  margin-top: 0px;
}



.landing-header-wrapper1 .landing-nav .wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

.landing-header-wrapper1 .landing-nav .subnav-inner {
    float: right;
}

.landing-header-wrapper1 .landing-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.landing-header-wrapper1 .landing-nav .subnav-inner .button{
  color: #fff;
  background-color: #08bcff;
  font-size: 16px;
  padding: 11px;
  font-weight: 400;
}

.landing-header-wrapper1 .landing-nav .subnav-inner li {
    display: inline-block;
    font-size: 17px;
    margin-top: 4px;
}

.landing-header-wrapper1 .landing-banner{
    padding: 3em 0;
    text-align: center;
    margin-top: 100px;
}

.landing-header-wrapper1 .landing-banner h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
}

.landing-header-wrapper1 .landing-banner .banner-desc {
  width: 58%;
  margin: 0 auto;
}

.landing-header-wrapper1 .landing-banner .banner-desc span{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
}

.landing-header-wrapper1 .landing-banner .banner-desc .form-group {
  display: inline-block;
}

.landing-header-wrapper1 .landing-banner .banner-desc .left-addon input  {
   padding-left:  30px;
}

/* style icon */
.landing-header-wrapper1 .landing-banner .banner-desc .inner-addon .fa {
  position: absolute;
  padding: 23px 16px 0px 14px;
  pointer-events: none;
  font-size: 18px;
  color: #999;
}

.sticky .logo {   
  margin-top: 7px;    
  color: #6e5baa;   
}

  a.next-section {    
    bottom: 5%;   
    color: #fff;    
    font-size: 25px;    
    font-weight: 100;   
    left: 49%;    
    position: absolute;   
}   
section .overlay-text {   
    z-index: 1;   
}   
.icons .icon-wrapper {    
    width: 140px;   
    height: 140px;    
    border-radius: 50%;   
    background-color: #6e5baa;    
    text-align: center;   
    margin: 2em auto 0;   
    padding: 3em 0;   
}   
section.content h2 {    
    font-size: 35px;    
    font-weight: 500;   
    margin: 1em 0;    
    padding: 0;   
    line-height: 1.3;   
}   
section.content p {   
    margin-bottom: 1em;   
}   
section p {   
    font-weight: 400;   
}   
.icons .icon-wrapper .icon-large {    
    color: white;   
    font-size: 4em;   
    display: block;   
}   
.icons p {    
    margin: 0 2em 2em;    
}   
.attraction--a {    
    background: -webkit-linear-gradient(#21abc7, #616db3);    
    background: linear-gradient(#21abc7,#616db3);   
}   
.attraction--a--horizontal {    
    background: -webkit-linear-gradient(right, #21abc7, #616db3);   
    background: linear-gradient(to left, #21abc7,#616db3);    
}   
.landing-banner .form-group {   
  display: inline-block;    
}   
.landing-banner input[type=submit] {    
    margin: 0 auto;   
    margin-top: 60px;   
    min-width: 260px;   
    background-color: #e4ddef;    
    background-image: linear-gradient(#fff,#e7e4ee);    
    color: #603895;   
    font-size: 2.2rem!important;    
    font-weight: 600;   
    height: 5.6rem;   
}   
.dark-background {    
  background-color: #222;   
  height: 300px;    
  margin-bottom: 30px;    
  padding: 10px;    
  transition: opacity 500ms;    
}   









