.chat-box {
    z-index: 99999;
}

.chat-box.chat-box-bottom {
    position: fixed;
    bottom: -18px;
    right: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.chat-box.one-chat-per-user {
    position: absolute;
    top: 0;
}

.chat-box.one-chat-per-user:after {
    content: "";
    position: absolute;
    top: 45%;
    right: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 14px;
    border-color: transparent transparent transparent #fff;
   -webkit-filter: drop-shadow(2px 1px 1px #999);
    filter: drop-shadow(2px 1px 1px #aaa);

}

.chat-box .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #534292;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 300px;
}

.chat-box .box .converstaion-list {
    height: 200px;
}

.chat-box.one-chat-per-user .box {
    width: 550px;
    border-radius: 4px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.direct-chat .conv-u-info {
    /*width: 280px;*/
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #E7E7EC;

}

.converstaion-list .conv-text span {
    font-size: 12px;
    font-style: italic;
    font-weight: 555;
    color: #777;
    
}

.converstaion-list .conversation-back .conv-text span {
    float: right;
}

.close-message-box {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;

}

.close-message-box img {
    height: 20px;
    width: 20px;
}

.chat-box .box .chat-input-form {
    padding: 10px;
    position: relative;
}

.chat-box .box .chat-input-form .chat-input {
    height: 40px;
}



