.right-aside {
    width: 280px;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    visibility: hidden;
    top: 0px;
    z-index: 8200;
    right: 0px;
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.right-aside.rightbar-show {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    visibility: visible;
}

.right-aside .aside-branding {
    height: 56px;
    background-color: #ffffff;
}

.right-aside .aside-branding .aside-tab {
    position: relative;
    height: 56px;
}

.right-aside .aside-branding .nav-tabs {
    border-bottom: 0px;
}

.right-aside .aside-branding .aside-tab li a {
    height: 56px;
    width: 60px;
    border: 0px;
    padding: 0px;
    margin-right: 0px;
    line-height: 56px;
    text-align: center;
    font-size: 20px;
    color: #888;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.right-aside .aside-branding .aside-tab li.active a {
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #79589F;
}

.right-aside .aside-branding .aside-tab li:hover a {
    background-color: #ffffff;
}

.aside-notifications .alert-bubble {
    background-color: #fb8c00;
    display: inline-block;
    color: #fff;
    line-height: normal;
    font-size: 12px;
    position: absolute;
    padding: 4px 5px;
    right: 6px;
    top: 6px;
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.right-aside .aside-branding .rightbar-action {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;    
}

.right-aside .aside-branding .rightbar-action img {
     width: 20px;
    height: 20px;
}

.chat-search-form {
    padding: 10px 15px 20px 15px;
}

.chat-search-form .chat-u-search {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
}

.chat-user-list {
    overflow-y: auto;
}

.aside-tab-wigets h3 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: #eeeeee 1px solid;
    letter-spacing: .1em;
    color: #666;
}

.aside-tab-wigets h3 .online-counter {
    font-size: 11px;
    text-transform: none;
    letter-spacing: normal;
    color: #00c853;
}

.chat-list {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    list-style: none;
}

.chat-list li {
    display: table;
    position: relative;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid #EEEEEE;
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.chat-list li:hover { 
    background: #FAFAFA none repeat scroll 0% 0%;
}

.chat-list li a {
    display: block;
    width: 100%;
    position: relative;
    color: #444444;
    text-decoration: none;
}

.chat-list li .chat-avatar {
    position: relative;
    width: 40px;
    height: 40px;
}
.chat-list li a > span {
    display: table-cell;
    vertical-align: middle;
}

.chat-list li .chat-u-info {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
}

.chat-list li .chat-u-info cite {
    display: block;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    color: #868686;
}

.chat-list li .chat-u-status {
    position: absolute;
    top: 32%;
    right: 20px;
    color: #ccc;
}

.chat-list li .chat-u-status i {
    text-shadow: 0 0 3px #fff;
    font-size: 8px;
    color: #ddd;
}

.chat-list li.chat-u-online i {
    color: #00c853;
}

.chat-list li .chat-avatar img {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.aside-notifications-wrap {
    overflow-y: auto;
}

.aside-notifications-head h4 {
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    padding-bottom: 22px;
    margin: 0px;
    border-bottom: #eee 1px solid;
}

.aside-notifications-wrap .message-wrap > ul {
    list-style: none;
    padding: 0px;
}

.aside-notifications-wrap .message-wrap > ul > li {
    border-bottom: #eee 1px solid;
    background: #ffffff;
}

.aside-notifications-wrap .message-wrap > ul > li:hover {
    background: #FAFAFA none repeat scroll 0% 0%;
}


.aside-notifications-wrap .message-wrap > ul > li > a {
    font-size: 14px;
    color: #444444;
    text-decoration: none;
    padding: 18px 10px;
}

.message-thumb {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

.message-thumb img {
    width: 40px;
    height: 40px;
    padding: 2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.message-intro {
    display: inline-block;
    width: 240px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 0px !important;
}

.message-meta {
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
}

.message-time {
    display: block;
    color: #999999;
}

.aside-notifications-wrap .notification-wrap > ul {
    list-style: none;
    padding: 0px;
}

.aside-notifications-wrap .notification-wrap > ul > li > a {
    display: table;
    padding: 8px;
    font-size: 12px;
    color: #444444;
    background: #f9f9f9;
    text-decoration: none;
    border-bottom: #eee 1px solid;
}

.aside-notifications-wrap .notification-wrap > ul > li > a > span {
    display: table-cell;
    vertical-align: middle;
}
.w-green {
    background: #1bbc9b;
}
.ni {
    width: 34px;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.notification-message {
    width: 246px;
    padding-left: 10px;
}

.notification-time {
    font-size: 11px;
    color: #aaa;
    display: block;
    font-style: italic;
}


.conv-container.show-conv {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transform: -ms-transform 0.3s;
    -o-transform: -o-transform 0.3s;
    transition: transform 0.3s;
    visibility: visible;
}
.conv-container {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transform: -ms-transform 0.3s;
    -o-transform: -o-transform 0.3s;
    transition: transform 0.3s;
    width: 280px;
    height: 100%;
    position: fixed;
    visibility: hidden;
    top: 0px;
    z-index: 2000;
    background-color: #fff;
}

.conv-container .conv-u-info {
    width: 280px;
    height: 56px;
    background-color: #fff;
    border-bottom: 1px solid #E7E7EC;

}

.conv-u-info ul {
    display: table;
    list-style: none;
    margin: 0px;
    padding: 3px 6px;
    position: relative;
    width: 100%;
}

.conv-u-info ul .chat-avatar {
    width: 48px;
    height: 48px;
}
.conv-u-info ul > li {
    display: table-cell;
    vertical-align: middle;
    padding: 6px;
}

.conv-u-info ul .chat-avatar img {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.conv-u-info ul .chat-u-info {
    font-size: 14px;
}

.conv-container .conv-u-info ul .chat-u-call,
.conv-container .conv-u-info ul .chat-close
{
    display: inline-block;
    background-color: #fff;
    width: 32px !important;
    height: 32px !important;
    border: #ddd 1px solid;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.conv-container .conv-u-info ul .chat-u-action {
    padding: 0px;
}

.conv-container .conv-u-info ul .chat-u-call:hover,
.conv-container .conv-u-info ul .chat-close:hover
{
    border:1px solid #534292;
    background-color: #534292;
    color: #fff;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.converstaion-list {
    overflow-y: auto;
    padding-bottom: 20px;
}

.converstaion-list .conversation-back {
    padding: 15px 15px 0 15px;
    display: table;
}

.converstaion-list .conversation-back .conv-thumb {
    width: 48px;
    height: 48px;
    padding-right: 10px;
}
.converstaion-list .conversation-back > div {
    display: table-cell;
    vertical-align: middle;
}

.converstaion-list .conversation-back .conv-thumb img {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}


.converstaion-list .conversation-back .conv-text {
    padding: 10px;
    font-size: 13px;
    border: #dddddd 1px solid;
    background-color: #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}


.converstaion-list .conversation-back .conv-text:after, 
.converstaion-list .conversation-back .conv-text:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.converstaion-list .conversation-back .conv-text:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #dddddd;
    border-width: 8px;
    margin-top: -8px;
}


.converstaion-list .conversation-back .conv-text:after {
    border-color: rgba(245, 245, 245, 0);
    border-right-color: #e2e2e2;
    border-width: 7px;
    margin-top: -7px;
}

.converstaion-list .conversation-front {
    padding: 15px 15px 0 15px;
    display: table;
}

.converstaion-list .conversation-front .conv-text {
    border: #f2f2f2 1px solid;
    padding: 10px;
    background-color: #fafafa;
    font-size: 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}


.converstaion-list .conversation-front .conv-text:after, 
.converstaion-list .conversation-front .conv-text:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.converstaion-list .conversation-front .conv-text:after {
    border-color: rgba(245, 245, 245, 0);
    border-left-color: #fafafa;
    border-width: 7px;
    margin-top: -7px;
}


.converstaion-list .conversation-front .conv-text:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #f2f2f2;
    border-width: 8px;
    margin-top: -8px;
}

.chat-input-form {
    padding: 20px;
    border-top: #eeeeee 1px solid;
}






