.right-sidebar {
    background-color: #fff;
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    position: fixed;
    top: 56px;
    width: 265px !important;
    z-index: 1009;
    bottom: 0;
    right: -265px;
}

.right-sidebar.sidebar-open {
    right: 0;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.right-sidebar .sidebar-container ul.nav-tabs {
    border: none;
}

.right-sidebar .sidebar-container ul.nav-tabs.navs-3 li {
    width: 33.3333%;
}

.right-sidebar .sidebar-container ul.nav-tabs li a {
    border: none;
    padding: 12px 10px;
    margin: 0;
    border-radius: 0;
    /*background: #2f4050;*/
    /*background-image: linear-gradient(to bottom, #664A86, #534292);*/
    background-color: #534292;
    color: #fff;
    text-align: center;
    border-right: 1px solid #999;
}

.right-sidebar .sidebar-container ul.nav-tabs li.active a {
    border: none;
    background: #f9f9f9;
    color: #676a6c;
    font-weight: bold;
}

.right-sidebar .sidebar-container .sidebar-title {
    background: #f9f9f9;
    padding: 12px;
    border-bottom: 1px solid #e7eaec;
}

.right-sidebar .sidebar-container .sidebar-title h3 {
    margin-bottom: 2px;
    padding-left: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.right-sidebar .sidebar-container .sidebar-message {
    padding: 15px 20px;
}

.right-sidebar .sidebar-container .sidebar-message > a {
    text-decoration: none;
    color: inherit;
}

.right-sidebar .sidebar-container .sidebar-message .message-avatar {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-top: 1px;
}

.right-sidebar .media-body {
    font-size: 14px;
    color: #444;
}

.right-sidebar .sidebar-container .sidebar-message:nth-child(2n+2) {
    background: #f9f9f9;
}

.right-sidebar .sidebar-container .sidebar-message {
    padding: 15px 20px;
}

.right-sidebar .sidebar-container .sidebar-message > a > .pull-left {
    margin-right: 10px;
}

.right-sidebar .m-t-xs {
    margin-top: 5px;
}

.right-sidebar .text-warning {
    color: #f8ac59;
}

.right-sidebar .media-body.contact-name {
    font-weight: 500;
}
