/*
  ========================
      Sidebar Toggle
  ========================
*/
#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/*
  ========================
       Sidebar Style
  ========================
*/
.sidebar-nav {
    /*position: relative;*/
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
  ========================
   SideBar list style
  ========================
*/
.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a ,
.sidebar-nav .sidebar-services li a {
    display: block;
    text-decoration: none;
    color: #FFF;
}

.sidebar-nav li a:hover,
.sidebar-nav .sidebar-services li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav .sidebar-services li a:active,
.sidebar-nav .sidebar-services li a:focus {
    text-decoration: none;
}

.sidebar-nav .sidebar-services li a.active {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

/*
  ========================
  Sidebar brand name style
  ========================
*/
.sidebar-nav > .sidebar-brand {
    background-image: linear-gradient(to bottom, #664A86, rgba(102, 74, 134, 0)), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.04) 100%);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    height: 55px;
    line-height: 55px;
    z-index: 3;
    font-size: 26px;
    /*font-weight: bold;*/
    color: #FFF;
}

.sidebar-nav > .sidebar-brand i {
  display: inline-block;
  padding-left: 20px;
  margin-right: 5px;
}

.sidebar-nav > .sidebar-brand a {
  display: inline-block;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/*
  ========================
       SideBar stats
  ========================
*/
.sidebar-nav .sidebar-stats {
  padding: 15px 0 20px 0;
  /*background-color: #fff !importent;*/
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-nav .sidebar-stats img {
  height: 38px;
  width: 38px;
  margin-right: 12px;
  cursor: pointer;
}

/*
  ========================
      Sidebar Header
  ========================
*/
.sidebar-nav li.header {
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

/*
  ======================
    Sidebar search box
  ======================
*/

/* enable absolute positioning */
.sidebar-inner-addon {
    position: relative;
    width: 230px;
    margin: 15px 10px 0px;
}

/* style icon */
.sidebar-inner-addon .fa {
  position: absolute;
  padding: 13px;
  pointer-events: none;
}

/* align icon */
.sidebar-left-addon .fa  { left:  0px;}
.sidebar-right-addon .fa { right: 0px;}

/* add padding  */
.sidebar-left-addon input  { padding-left:  30px; height: 40px;}
.sidebar-right-addon input { padding-right: 30px; }


/*
  ========================
      Sidebar services
  ========================
*/
.sidebar-nav .sidebar-services {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
    overflow-y:scroll;
    height: 300px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.sidebar-nav .sidebar-services li {
    line-height: 50px;
    font-size: 16px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

}
.sidebar-nav .sidebar-services li i {
  margin-right: 7px;
  padding-left: 20px;
}

/*
  ========================
      Sidebar badges
  ========================
*/
.sidebar-nav .sidebar-badge {
  float: right;
  background-color: #B94A48;
  margin-right: 30px;
  margin-top: 15px;
}


/*
  ========================
      Sidebar alerts
  ========================
*/
.alert-container {
  position: absolute;
  bottom: 0;
  z-index: 55555;
  padding: 10px;
 
}

.alert-container .alert-box {
  width: 230px;
  background: #fff;
  color: #000;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 2px 10px;
}

.alert-container .alert-box .alert-box-header {
  position: relative;
  padding-top: 5px;
}

.alert-container .alert-box .alert-box-header h6 {
  color: #79589F;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  display: inline;
  margin-left: 5px;
}

.alert-container .alert-box .alert-box-header i {
  color: #79589F;
}

.alert-container .alert-box .alert-box-header .alert-box-close {
  position: absolute;
  font-size: 20px;
  color: #D1D1D1;
  cursor: pointer;
  top:0px;
  right: -5px;
}

.alert-container .alert-box .alert-box-content p{
  padding-left: 20px;
  color: #7D7D8E;
  /*font-size: 12px;*/
  line-height: .95;
  margin-top: 5px;
  
}


/*
  ========================
   Sidebar media query
  ========================
*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
