/* Dropdown Menu */
.dropdown-menu {
    width: 280px;
    padding: 0;
    margin: 0;
    top: 100%;
    border-color: #EEE;
}

.dropdown-menu > li.header {
    border-radius: 4px 4px 0 0;
    background-color: #FFF;
    padding: 7px 10px;
    border-bottom: 1px solid #F4F4F4;
    color: #444;
    font-size: 14px;
    position: relative;
}

.dropdown-menu > li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: outside none none;
    overflow-x: hidden;
}

.dropdown-menu > li .menu > li > a {
    margin: 0;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #F4F4F4;
}

.dropdown-menu > li .menu > li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}

.dropdown-menu > li .menu > li > a > h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444;
    font-size: 15px;
    position: relative;
}

.dropdown-menu > li .menu > li > a > h4 > small {
    color: #999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-menu > li .menu > li > a > p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888;
}

.dropdown-menu > li.footer > a {
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    background-color: #FFF;
    padding: 7px 10px;
    border-bottom: 1px solid #EEE;
    color: #444 !important;
    text-align: center;
}
/* Bordered List */

.box {
    position: relative;
    border-radius: 4px;
}
